Repository hmcts/am-role-assignment-service, pull requests merged in 2020-08, with the labels that each got.

#248 AM-927: Adding LD Bean caching.
  charts/am-role-assignment-service/Chart.yaml
  charts/am-role-assignment-service/values.preview.template.yaml
  charts/am-role-assignment-service/values.yaml
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureConditionEvaluation.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureToggle.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/LDCacheConfig.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/LDFlagChecker.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/LaunchDarklyConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-248

#253 AM-927: Fixing the master build.
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/security/IdamRoleService.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-253

#258 AM-927: Launch Darkly updates
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureConditionEvaluation.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureToggle.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/LaunchDarklyConfiguration.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-258

#260 Am 934 integration test for get endpoints
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentIntegrationTest.java
  src/integrationTest/resources/sql/insert_actor_cache_control.sql
  src/integrationTest/resources/sql/insert_role_assignment.sql
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-260

#262 AM-927: Adding PR as environment for LD Preview.
  charts/am-role-assignment-service/values.preview.template.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-262

#255 Am 929 replace existing duplicate scenario
  src/functionalTest/resources/features/F-001/F-001.feature
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/advice/ErrorConstants.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/advice/RoleAssignmentControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/advice/exception/UnprocessableEntityException.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/CreatedTimeComparator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/JacksonUtils.java
  src/main/resources/validationrules/role.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentServiceTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-255

#256 Cleaning up build.gradle.
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-256

#261 modify Jenkinsfile_CNP file for integration report.
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  audit.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-261

#270 refactor: removing the Kotlin dependencies.
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-270

#274 refactor: Disabling the Launch Darkly temporarily
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureConditionEvaluation.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureToggle.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/LaunchDarklyConfiguration.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-274

#269 Enable notifications and func test report archiving
  Jenkinsfile_nightly
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-269

#276 refactor: Fixing the integration test report.
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-276

#278 Master fix
  Jenkinsfile_CNP
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/BaseTest.java
  src/integrationTest/resources/serenity.properties
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-278

#282 refactor: Generating the serenity report for Integration tests.
  Jenkinsfile_CNP
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/WelcomeControllerIntegrationTest.java
  src/integrationTest/resources/serenity.properties
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/SmokeTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-282

#283 refactor: Fixing the scope in OpenId.
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/BaseTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-283

#291 AM-975 - adding integration test report to pipeline
  Jenkinsfile_CNP
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-291

#297 AM-970: Integration test for delete assignments by assignment Id
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentCreateAndDeleteIntegrationTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-297

#273 Launch darkly implementation
  Jenkinsfile_CNP
  charts/am-role-assignment-service/Chart.yaml
  charts/am-role-assignment-service/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/annotations/FeatureFlagToggle.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/FeatureFlagToggleEvaluator.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureConditionEvaluation.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureToggleService.java
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/BaseTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/EvaluateLaunchDarklyFlag.java
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/FeatureFlagToggle.java
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/FeatureFlagToggleEvaluator.java
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureConditionEvaluationTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureToggleServiceTest.java
  src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-273

#301 AM-968: Fixed the Sonarlint issues.
  src/test/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureConditionEvaluationTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-301

#302 AM-968: Fixed the Serenity Restassured issues.
  build.gradle
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/FeatureFlagToggleEvaluator.java
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/SmokeTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-302

#304 AM-968: Fixed the Serenity Restassured issues.
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/BaseTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-304

#298 Am 893 logging improvement
  src/main/java/uk/gov/hmcts/reform/roleassignment/ApplicationParams.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/RoleAssignmentApplication.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditEntry.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditInterceptor.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditLogFormatter.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditOperationType.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/LogAudit.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/LoggerAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/AuditAspect.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/AuditContext.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/AuditContextHolder.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/ExpressionEvaluator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/AuditConfig.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleAssignmentRequestResource.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/AuditLoggerUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/roleassignment/ApplicationParamsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditLogFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/AuditAspectTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/ExpressionEvaluatorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/AuditLoggerUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-298
