Repository hmcts/am-role-assignment-service, pull requests merged in 2020-12, with the labels that each got.

#524 Am 1117 mutation test
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PrepareResponseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-524

#525 Added method call to sync branches
  Jenkinsfile_CNP
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-525

#416 AM-1045 convert times to UTC
  build.gradle
  src/functionalTest/resources/features/F-001/S-008.td.json
  src/functionalTest/resources/features/F-001/S-009.td.json
  src/functionalTest/resources/features/F-001/S-010.td.json
  src/functionalTest/resources/features/F-001/S-097_Response_no_authorisations.td.json
  src/functionalTest/resources/features/F-001/S-097_Single_Role_Creation.td.json
  src/functionalTest/resources/features/F-001/S-101_Response_without_time.td.json
  src/functionalTest/resources/features/F-001/S-101_Role_Request_without_time.td.json
  src/functionalTest/resources/features/F-008/S-106_Multiple_Org_Role_Creation.td.json
  src/functionalTest/resources/features/common/RequestedRole.td.json
  src/functionalTest/resources/features/common/ResponseRequestedRole.td.json
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/HistoryEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/RequestEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/Assignment.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/Case.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/QueryRequest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleAssignment.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleAssignmentSubset.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtil.java
  src/main/resources/requests.json
  src/main/resources/role-assignments.json
  src/main/resources/roleassignmenthistroy.json
  src/smokeTest/resources/create_request_body.json
  src/test/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentEntitySpecificationsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/model/CaseTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/DroolJudicialCategoryTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/JsonBConverterTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtilTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtilTest.java
  src/test/resources/assignmentRequest.json
  src/test/resources/notes.json
  src/test/resources/requestedRoles.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-416

#529 updated etag scope in RAS
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/CacheControlConfig.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-529

#528 Provider Pact for get-actor-by-id api
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/GetActorByIdRoleAssignmentProviderTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-528

#533 AM-1128 - Pact Provider - Create Api - Additional Scenarios
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/CreateRoleAssignmentProviderTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-533

#526 adding the definition file import for ccd-case retrieval
  Jenkinsfile_CNP
  build.gradle
  charts/am-role-assignment-service/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/roleassignment/befta/RoleAssignmentTestAutomationAdapter.java
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-001/S-001.td.json
  src/functionalTest/resources/features/F-001/S-003.td.json
  src/functionalTest/resources/features/F-001/S-005.td.json
  src/functionalTest/resources/features/F-001/S-008.td.json
  src/functionalTest/resources/features/F-001/S-097.td.json
  src/functionalTest/resources/features/F-001/S-097_Response_no_authorisations.td.json
  src/functionalTest/resources/features/F-001/S-097_Single_Role_Creation.td.json
  src/functionalTest/resources/features/F-002/S-026.td.json
  src/functionalTest/resources/features/F-002/S-026_CreationDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-006/S-087_CreationDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-006/S-087_DeleteDataForMultipleRoleAssignments.td.json
  src/functionalTest/resources/features/F-008/F-008.feature
  src/functionalTest/resources/features/F-008/S-106.td.json
  src/functionalTest/resources/features/F-008/S-106_DeleteDataForRoleAssignmentsForOrgRoles.td.json
  src/functionalTest/resources/features/F-008/S-106_Multiple_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-008/S-107.td.json
  src/functionalTest/resources/features/F-008/S-107_Multiple_Case_Role_Creation.td.json
  src/functionalTest/resources/features/F-008/S-108.td.json
  src/functionalTest/resources/features/common/DeleteDataForRoleAssignments.td.json
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/Case.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DatastoreFeignClientInterceptor.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/SecurityUtils.java
  src/main/resources/validationrules/iac/iac-case-role-validation.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/model/CaseTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
  src/test/resources/requestedRoles.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-526

#541 new index on history table
  build.gradle
  src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-541

#549 jar bumps
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-549

#550 Implemented health checks for downstream systems Idam and ccd
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/BaseTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/health/BaseHealthIndicator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/health/CcdDataStoreHealthIndicator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/health/IdamServiceHealthIndicator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/roleassignment/health/CcdDataStoreHealthIndicatorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/health/IdamServiceHealthIndicatorTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-550

#537 AM-1129: RAS Search Query Pact Provider Test
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/GetActorByIdRoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/RoleAssignmentProviderTestConfiguration.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/SearchQueryRoleAssignmentProviderTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
  src/test/resources/attributesSearchQuery.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-537

#538 AM-1126:Logs refactoring for perf test
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditInterceptor.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/JwtGrantedAuthoritiesConverter.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-538

#559 Remove s2s mount reference
  src/main/resources/bootstrap.yml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-559

#561 Am 1149 handling authorisation
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentCreateAndDeleteIntegrationTest.java
  src/integrationTest/resources/sql/insert_assignment_records_to_delete.sql
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/GenericArrayUserType.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/HistoryEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentEntitySpecifications.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleAssignmentSubset.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtil.java
  src/main/resources/db/changelog/db.changelog-AM-1149_7.xml
  src/main/resources/db/changelog/db.changelog-master.xml
  src/test/java/uk/gov/hmcts/reform/roleassignment/data/GenericArrayUserTypeTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-561

#560 AM-1144: Drool rule related unit tests refactoring.
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/StaffCategoryCaseTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolJudicialCategoryTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/StaffCategoryCaseTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/StaffCategoryOrgRoleTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-560
