Repository hmcts/am-role-assignment-service, pull requests merged in 2020-09, with the labels that each got.

#311 Fixing the CVE issues.
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-311

#305 Enabling the Launch Darkly Smoke tests.
  charts/am-role-assignment-service/Chart.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/FeatureFlagToggleEvaluator.java
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/SmokeTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-305

#307 Am 942 mutation
  build.gradle
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/advice/ErrorConstantsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PrepareResponseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/EnvironmentVariableUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/JsonBConverterTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/SecurityUtilsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-307

#312 Master fix
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/security/IdamRoleService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/AuditLoggerUtil.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/SecurityUtils.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/security/IdamRoleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/AuditLoggerUtilTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/SecurityUtilsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-312

#317 AM-992: Launch Darkly Fixes.
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureConditionEvaluation.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureToggleService.java
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/FeatureFlagToggleEvaluator.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureConditionEvaluationTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureToggleServiceTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-317

#320 Fixing the CVE issues.
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-320

#326 Fixing the Launch Darkly jar.
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-326

#319 AM-980: Removing the secret from Jenkins file.
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/UserTokenProviderConfig.java
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/BaseTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/SmokeTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-319

#323 Am 999 missing elements in audit log infomation
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditEntry.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditLogFormatter.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/LogAudit.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/AuditAspect.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/AuditContext.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleAssignmentResource.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentControllerTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-323

#263 Am 950 pact setup
  Jenkinsfile_CNP
  broker-compose.yml
  build.gradle
  pacts/am_role_assignment_service-Idam_api.json
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/IdamConsumerTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-263

#322 AM-994: Remove unused tests and classes
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/roleassignment/befta/RoleAssignmentTestAutomationAdapter.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/WelcomeControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/RoleAssignmentApplication.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/AppInsights.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/feignclients/DataStoreFeignClient.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/v1/V1.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/AuditAspectTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/ExpressionEvaluatorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/WelcomeTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/advice/RoleAssignmentControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/S2SAuthenticationTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureConditionEvaluationTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/EnvironmentVariableUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-322

#335 mutation cover
  build.gradle
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepository.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/ApplicationParamsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/advice/RoleAssignmentControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/oidc/JwtGrantedAuthoritiesConverterTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-335

#336 Master fix
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/SecurityEndpointFilter.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/advice/RoleAssignmentControllerAdvice.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-336

#340 AM-1000 /userinfo pact with idam
  pacts/am_role_assignment_service-Idam_api.json
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/IdamConsumerTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-340

#339 Am 977 fix idam issue while fetching user
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentCreateAndDeleteIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/ApplicationParams.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/RoleAssignmentApplication.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/advice/RoleAssignmentControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/advice/exception/ServiceException.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/UserRoles.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/security/IdamRoleService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/JacksonUtils.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/JsonBConverter.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/roleassignment/ApplicationParamsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/AuditAspectTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepositoryTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-339

#364 AM-1010: Fixing the liveness probe response.
  src/functionalTest/resources/features/F-000/F-000_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-000/S-000.td.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-364

#357 AM-1021- Enable Security for actuator endpoint.
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/SecurityConfiguration.java
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-357

#355 AM-1022: Security fix, close connections in integration and smoke test
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/BaseTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/BaseTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/advice/RoleAssignmentControllerAdviceTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-355

#358 AM-1023 - closing input streams
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-358

#369 AM-1020: Updating the variable names.
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/OIdcAdminConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/liquibase.properties
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/BaseTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/oidc/OIdcAdminConfigurationTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-369

#354 AM-1010: Initial changes for enabling Launch Darkly on all endpoints.
  build.gradle
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-002/F-002.feature
  src/functionalTest/resources/features/F-003/F-003.feature
  src/functionalTest/resources/features/F-005/F-005.feature
  src/functionalTest/resources/features/F-006/F-006.feature
  src/functionalTest/resources/features/F-007/F-007.feature
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentCreateAndDeleteIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureConditionEvaluation.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureToggleService.java
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureConditionEvaluationTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureToggleServiceTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-354

#370 AM-1010: Updated smoke test feature flag names.
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/SmokeTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-370

#372 AM-1025- Fixed duplication of Correlation Id in Swagger Page.
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentController.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentControllerTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-372

#371 AM-1017: Code refactoring and clean up.
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/IdamConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/roleassignment/befta/RoleAssignmentTestAutomationAdapter.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditInterceptor.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/AuditAspect.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/AuditContextHolder.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/AliasWebConfig.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/AuditConfig.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/AuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/CustomErrorDecoder.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/DroolConfig.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/advice/exception/ForbiddenException.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PrepareResponseService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/RetrieveDataService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureConditionEvaluation.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/Constants.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/JacksonUtils.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/RoleAssignmentUtil.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtil.java
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/BaseTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/SmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/UserTokenProviderConfig.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/AuditAspectTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/ExpressionEvaluatorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/WelcomeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PrepareResponseServiceTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-371

#379 AM-1005: Update the terraform version.
  charts/am-role-assignment-service/Chart.yaml
  charts/am-role-assignment-service/requirements.yaml
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
  infrastructure/versions.tf
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-379

#381 AM-1005: Adding the .terraform-version file
  infrastructure/.terraform-version
  infrastructure/main.tf
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-381

#376 Upgrading the liquibase version to 4.0.0.
  build.gradle
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/DatabaseChangelogLockEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/DatabseChangelogLockRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/resources/db/changelog/db.changelog-AM-823.xml
  src/main/resources/db/changelog/db.changelog-main.xml
  src/main/resources/db/changelog/db.changelog-master.xml
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/FeatureFlagToggleEvaluator.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/WelcomeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-376

#385 Am master fix
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/LiquibaseConfig.java
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-385

#373 First version of README.md file
  README.md
  docker-compose.yml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-373

#388 Update TF version
  infrastructure/.terraform-version
  infrastructure/terraform.tf
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-388

#389 Upgrade TF to 0.13.3 and azurerm to 2.25+
  infrastructure/.terraform-version
  infrastructure/terraform.tf
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-389

#387 AM-1043: Liquibase changeloglock fix.
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/LiquibaseConfig.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-387

#391 Liquibase version downgrade to stable 3.10.2
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/BaseTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-391

#400 Am 1040 master
  infrastructure/README.md
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/terraform.tf
  infrastructure/variables.tf
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-400
