Repository hmcts/am-role-assignment-service, pull requests merged in 2020-05, with the labels that each got.

#29 Master fix
  Jenkinsfile_CNP
Labels: ns:am, rel:am-role-assignment-service-pr-29

#32 Master fix
  config/owasp/suppressions.xml
  docker-compose.yml
  src/functionalTest/resources/features/F-000/S-000.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/WelcomeControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/RoleAssignmentController.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/WelcomeTest.java
Labels: ns:am, rel:am-role-assignment-service-pr-32

#35 AM-738: Disabling the Jenkins goal "installCharts()".
  Jenkinsfile_CNP
Labels: ns:am, rel:am-role-assignment-service-pr-35

#36 Am 736 s2 s implementation
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/WelcomeController.java
  src/main/resources/application.yaml
Labels: ns:am, rel:am-role-assignment-service-pr-36

#39 Master fix
  Jenkinsfile_CNP
  charts/am-role-assignment-service/Chart.yaml
Labels: ns:am, rel:am-role-assignment-service-pr-39

#49 Prepare database xml scripts
  build.gradle
  src/main/resources/application.yaml
  src/main/resources/db/changelog/db.changelog-main.xml
  src/main/resources/db/changelog/db.changelog-master.xml
  src/main/resources/db/changelog/db.changelog-test.xml
Labels: ns:am, rel:am-role-assignment-service-pr-49
