Repository hmcts/am-role-assignment-service, pull requests merged in 2020-11, with the labels that each got.

#465 Am 1087 collate db queries
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-465

#482 whitelisting wa_task_management_api service
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-482

#496 added wa-iac service in whitelist
  README.md
  charts/am-role-assignment-service/Chart.yaml
  charts/am-role-assignment-service/values.yaml
  docker-compose.yml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-496

#497 added wa service
  charts/am-role-assignment-service/Chart.yaml
  charts/am-role-assignment-service/values.yaml
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-497

#500 Update java chart abd bump up chart version
  charts/am-role-assignment-service/Chart.yaml
  charts/am-role-assignment-service/requirements.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-500

#487 Am 978 integrating with ccd data store
  .travis.yml
  Dockerfile
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/am-role-assignment-service/values.preview.template.yaml
  docker-compose.yml
  src/functionalTest/resources/ccd-iac-integration-dev.xlsx
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-001/S-020.td.json
  src/functionalTest/resources/features/F-001/S-101.td.json
  src/functionalTest/resources/features/F-001/S-102.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentCreateAndDeleteIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/advice/RoleAssignmentControllerAdvice.java
  src/main/resources/application.yaml
  src/main/resources/validationrules/core/load-case-data.drl
  src/main/resources/validationrules/core/reject-unapproved-role-assignments.drl
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/SmokeTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-487

#510 Am 991 new fta for staff role
  src/functionalTest/resources/features/F-008/F-008-Base-Root.td.json
  src/functionalTest/resources/features/F-008/F-008.feature
  src/functionalTest/resources/features/F-008/F-008_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-008/S-103.td.json
  src/functionalTest/resources/features/F-008/S-104.td.json
  src/functionalTest/resources/features/F-008/S-104_Multiple_Role_Creation.td.json
  src/functionalTest/resources/features/F-008/S-105.td.json
  src/functionalTest/resources/features/F-008/S-106.td.json
  src/functionalTest/resources/features/F-008/S-106_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-008/S-106_Multiple_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-008/S-107.td.json
  src/functionalTest/resources/features/F-008/S-107_Multiple_Case_Role_Creation.td.json
  src/functionalTest/resources/features/F-008/S-108.td.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-510

#516 Am 1108 performance testing support
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/ActorCache.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PrepareResponseService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtil.java
  src/main/resources/db/changelog/db.changelog-AM-1108_6.xml
  src/main/resources/db/changelog/db.changelog-master.xml
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-516

#517 retrieve data service and test cases fixed for string actorId
  src/functionalTest/resources/features/F-005/F-005.feature
  src/functionalTest/resources/features/F-005/S-059.td.json
  src/functionalTest/resources/features/F-005/S-059_CreationDataForRoleAssignment.td.json
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleAssignmentResource.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PrepareResponseService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestrator.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PrepareResponseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestratorTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-517

#520 Am 1120 enable caching response change
  src/functionalTest/resources/features/F-001/S-004.td.json
  src/functionalTest/resources/features/F-001/S-005.td.json
  src/functionalTest/resources/features/F-001/S-014.td.json
  src/functionalTest/resources/features/F-001/S-020.td.json
  src/main/java/uk/gov/hmcts/reform/roleassignment/RoleAssignmentApplication.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PrepareResponseService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepository.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PrepareResponseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-520

#519 Add pattern details to get role endpoint
  src/functionalTest/resources/features/F-007/F-007.feature
  src/functionalTest/resources/features/F-007/F-007_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-007/S-071.td.json
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestrator.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-519

#522 Am 1121 response change for apis in ras
  src/functionalTest/resources/features/F-001/S-020_Get_Role_Assignments_Search_Query.td.json
  src/functionalTest/resources/features/F-001/S-020_Get_Role_Assignments_Search_Query_Second_ActorId.td.json
  src/functionalTest/resources/features/F-006/S-081.td.json
  src/functionalTest/resources/features/F-006/S-082.td.json
  src/functionalTest/resources/features/F-006/S-083.td.json
  src/functionalTest/resources/features/F-006/S-084.td.json
  src/functionalTest/resources/features/F-006/S-085.td.json
  src/functionalTest/resources/features/F-006/S-086.td.json
  src/functionalTest/resources/features/F-006/S-087.td.json
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleAssignmentDeleteResource.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleAssignmentResource.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PrepareResponseService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/AuditLoggerUtil.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/AuditLoggerUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-522

#523 Am 981 updated provider pact
  broker-compose.yml
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/CreateRoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/GetRoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/RoleAssignmentProviderTestConfiguration.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-523
