Repository hmcts/am-role-assignment-service, pull requests merged in 2020-06, with the labels that each got.

#55 AM-764: Fixing the docker image issues.
  charts/am-role-assignment-service/values.preview.template.yaml
  docker-compose.yml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yml
  src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:am, rel:am-role-assignment-service-pr-55

#60 AM-782:Spike for Integration test
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/PersistenceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/WelcomeControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/WireMockBaseTest.java
  src/integrationTest/resources/sql/insert_role_assignment_request.sql
Labels: ns:am, rel:am-role-assignment-service-pr-60

#68 Latest data model changes
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/SampleRoleAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/HistoryEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/HistoryStatusEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/HistoryStatusRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/RequestEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/RequestStatusEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/RequestStatusRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/RoleAssignmentEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/resources/db/changelog/db.changelog-main.xml
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/advice/RoleAssignmentControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/data/referencedata/DefaultReferenceDataRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PrepareResponseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/RetrieveDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/security/IdamRoleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/validateroles/RuleValidationOrchestratorTest.java
Labels: ns:am, rel:am-role-assignment-service-pr-68

#71 Am 765 get case data from data store
  Jenkinsfile_CNP
  build.gradle
  charts/am-role-assignment-service/Chart.yaml
  charts/am-role-assignment-service/values.preview.template.yaml
  charts/am-role-assignment-service/values.yaml
  docker-compose.yml
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/feignclients/DataStoreFeignClient.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DatastoreFeignClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DatastoreFeignClientFallback.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DatastoreFeignClientInterceptor.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/feignclients/exceptionhandler/DatastoreFeignExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/SecurityUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/SecurityUtilsTest.java
Labels: ns:am, rel:am-role-assignment-service-pr-71

#73 Am 774 store request
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/SampleRoleAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/RoleAssignmentEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/RoleAssignmentRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/AssignmentRequest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/Case.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/Classification.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/ExistingRole.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/Request.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RequestedRole.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleAssignment.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtil.java
Labels: ns:am, rel:am-role-assignment-service-pr-73

#76 Master fix
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/am-role-assignment-service/Chart.yaml
  charts/am-role-assignment-service/values.preview.template.yaml
  charts/am-role-assignment-service/values.yaml
  infrastructure/main.tf
  src/functionalTest/resources/features/F-000/F-000.feature
  src/functionalTest/resources/features/F-000/S-000.td.json
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/BaseTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/EmptySmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/SmokeTest.java
Labels: ns:am, rel:am-role-assignment-service-pr-76

#78 Am 785 refactoring of drools code
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/DroolConfig.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/SampleRoleAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/AssignmentRequest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/Request.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/Role.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/security/IdamRoleService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtil.java
  src/main/resources/META-INF/kmodule.xml
  src/main/resources/roleassignmentvalidation/core.drl
  src/main/resources/roleassignmentvalidation/divorce/divorce.drl
  src/main/resources/roleassignmentvalidation/professional/professional.drl
  src/main/resources/roleassignmentvalidation/request.drl
  src/main/resources/roleassignmentvalidation/requestedRole.drl
Labels: ns:am, rel:am-role-assignment-service-pr-78

#82 Am 758 role assignment api
  src/functionalTest/resources/features/F-001/F-001.feature
  src/main/java/uk/gov/hmcts/reform/roleassignment/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/SampleRoleAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/HistoryEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/HistoryRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/RequestEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/RoleAssignmentEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/RoleAssignmentIdentity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/AssignmentRequest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/Request.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RequestedRole.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleAssignment.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleAssignmentRequestResource.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PrepareResponseService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtil.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtil.java
  src/main/resources/db/changelog/db.changelog-main.xml
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateRoleAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/RetrieveDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtilTest.java
  src/test/resources/attributes.json
Labels: ns:am, rel:am-role-assignment-service-pr-82

#83 AM-779 Junit Testing
  src/main/java/uk/gov/hmcts/reform/roleassignment/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/AssignmentRequest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PrepareResponseService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtil.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateRoleAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtilTest.java
  src/test/resources/assignmentRequest.json
  src/test/resources/requestedRoles.json
  src/test/resources/roleRequest.json
Labels: ns:am, rel:am-role-assignment-service-pr-83

#90 Am 795 spike validating roles
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/Pattern.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/Request.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/Role.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/enums/RoleCategory.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/resources/role.json
  src/main/resources/roleassignmentvalidation/professional/professional.drl
  src/main/resources/roleassignmentvalidation/request.drl
  src/main/resources/roleassignmentvalidation/requestedRole.drl
  src/main/resources/roleassignmentvalidation/role.drl
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-90

#87 AM-752 - Owasp Zap security stage - nightly pipeline
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  audit.json
  security.sh
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-87

#96 Updating the bootstrap.yml.
  Jenkinsfile_CNP
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-96

#98 AM-800 - hotfix - fixed create endpoint
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleAssignment.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtil.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtil.java
  src/test/resources/assignmentRequest.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-98

#101 Spring liquibase dependency updates.
  build.gradle
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/WelcomeTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/S2SAuthenticationTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-101

#100 Am 816 dev replace existing flow
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/SampleRoleAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/HistoryEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/HistoryRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/RequestEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/RoleAssignmentRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/enums/RoleCategory.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtil.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestratorTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-100

#99 java version upgrade
  .travis.yml
  Dockerfile
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-99

#102 AM-800 - notes persistence fix and date time validation
  src/main/java/uk/gov/hmcts/reform/roleassignment/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/enums/RoleCategory.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtil.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtil.java
  src/main/resources/validationrules/request.drl
  src/main/resources/validationrules/requestedRole.drl
  src/main/resources/validationrules/role.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-102

#104 Am 816 dev replace existing flow
  docker-compose.yml
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/HistoryEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/Case.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RequestedRole.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleAssignment.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/enums/Status.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PrepareResponseService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/RetrieveDataService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/feignclients/DataStoreFeignClient.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DatastoreFeignClientFallback.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtil.java
  src/main/resources/validationrules/case.drl
  src/main/resources/validationrules/request.drl
  src/main/resources/validationrules/requestedRole.drl
  src/main/resources/validationrules/role.drl
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-104

#106 AM-823 POC Etag Role Assignment
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/CacheControlConfig.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/cachecontrol/ActorCacheEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/cachecontrol/ActorCacheRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/casedata/CaseDataRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/casedata/DefaultCaseDataRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/ActorCache.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleAssignmentResource.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PrepareResponseService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtil.java
  src/main/resources/db/changelog/db.changelog-AM-823.xml
  src/main/resources/db/changelog/db.changelog-master.xml
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestratorTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-106

#108 AM-828 - fixed 500 error, throws 400 now.
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtil.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-108

#112 AM-828_further_fixes
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/advice/RoleAssignmentControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtil.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-112

#111 AM-826 : modified drool rules.
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/Case.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PrepareResponseService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/RetrieveDataService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DatastoreFeignClientFallback.java
  src/main/resources/META-INF/kmodule.xml
  src/main/resources/application.yaml
  src/main/resources/validationrules/case.drl
  src/main/resources/validationrules/request.drl
  src/main/resources/validationrules/requestedRole.drl
  src/main/resources/validationrules/role.drl
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-111

#110 Initial checkin for suppressions.xml cleanup and fixed the checkstyle…
  build.gradle
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/WelcomeControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/CacheControlConfig.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/SampleRoleAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/cachecontrol/ActorCacheEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/HistoryRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/RoleAssignmentIdentity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PrepareResponseService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/SecurityUtils.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtil.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/v1/V1.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/advice/RoleAssignmentControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateRoleAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/data/casedata/DefaultCaseDataRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/data/referencedata/DefaultReferenceDataRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PrepareResponseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/security/IdamRoleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/validateroles/RuleValidationOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/IdamUtils.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-110

#117 Response mismatch fix
  src/functionalTest/resources/features/F-000/S-000.td.json
  src/functionalTest/resources/features/F-001/F-001.feature
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-117

#113 AM-805: Integration test
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/WelcomeControllerIntegrationTest.java
  src/integrationTest/resources/sql/insert_role_assignment.sql
  src/integrationTest/resources/sql/insert_role_assignment_history.sql
  src/integrationTest/resources/sql/insert_role_assignment_request.sql
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-113

#122 Am 832 swagger ui for role assignment
  build.gradle
  src/main/java/uk/gov/hmcts/reform/roleassignment/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/RetrieveDataService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtil.java
  src/main/resources/validationrules/case.drl
  src/main/resources/validationrules/role.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-122

#121 AM-800 - junit testing
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/advice/RoleAssignmentControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtilTest.java
  src/test/resources/assignmentRequest.json
  src/test/resources/requestedRoles.json
  src/test/resources/roleRequest.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-121
