Repository hmcts/am-role-assignment-service, pull requests merged in 2020-07, with the labels that each got.

#128 Am 840 delete api
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/advice/exception/ResourceNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/HistoryRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/RoleAssignmentRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtil.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/v1/V1.java
  src/main/resources/validationrules/request.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-128

#136 Am 864 replace existing true
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/HistoryRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/JacksonUtils.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtil.java
  src/main/resources/validationrules/request.drl
  src/main/resources/validationrules/requestedRole.drl
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-136

#127 AM-806 - get list of roles endpoint
  src/functionalTest/resources/features/F-007/F-007.feature
  src/main/java/uk/gov/hmcts/reform/roleassignment/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/advice/RoleAssignmentControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/advice/RoleAssignmentControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtilTest.java
  src/test/resources/role.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-127

#120 Befta enhancement changes
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/roleassignment/befta/RoleAssignmentAmBeftaMain.java
  src/functionalTest/java/uk/gov/hmcts/reform/roleassignment/befta/RoleAssignmentBeftaMain.java
  src/functionalTest/java/uk/gov/hmcts/reform/roleassignment/befta/RoleAssignmentBeftaRunner.java
  src/functionalTest/java/uk/gov/hmcts/reform/roleassignment/befta/RoleAssignmentTestAutomationAdapter.java
  src/functionalTest/java/uk/gov/hmcts/reform/roleassignment/befta/TestDataLoaderMain.java
  src/functionalTest/resources/features/F-000/S-000.td.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-120

#137 Am 759 get list of role assignments based on actor
  src/functionalTest/resources/features/F-005/F-005.feature
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/AssignmentRequest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/ExistingRole.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/Request.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RequestedRole.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleAssignmentResource.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PrepareResponseService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/security/IdamRoleService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/Constants.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtil.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtil.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/v1/V1.java
  src/main/resources/application.yaml
  src/main/resources/validationrules/case.drl
  src/main/resources/validationrules/request.drl
  src/main/resources/validationrules/requestedRole.drl
  src/main/resources/validationrules/role.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-137

#138 AM-871 : fixed swagger issue along with other defects(AM-869,AM-868).
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/advice/ErrorConstants.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtil.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/v1/V1.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-138

#139 Get API Swagger/404 issue fix
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestrator.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-139

#129 Am 859 openid connect implementation
  build.gradle
  charts/am-role-assignment-service/Chart.yaml
  charts/am-role-assignment-service/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/roleassignment/RoleAssignmentApplication.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/SampleRoleAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/JwtGrantedAuthoritiesConverter.java
  src/main/resources/application.yaml
  src/main/resources/roleassignmenthistory.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-129

#142 Am 871 swagger issue
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/advice/exception/ResourceNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentController.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-142

#143 Am 872 swagger issue fix
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleAssignmentResource.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-143

#146 AM-841: add request Id as composite key in history table and return 4…
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/HistoryEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/RoleAssignmentIdentity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PrepareResponseService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/main/resources/db/changelog/db.changelog-main.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-146

#147 Am 811 functional test cases
  Jenkinsfile_CNP
  src/functionalTest/resources/features/F-007/F-007-Base-Root.td.json
  src/functionalTest/resources/features/F-007/F-007.feature
  src/functionalTest/resources/features/F-007/F-007_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-007/S-071.td.json
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/v1/V1.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentControllerTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-147

#149 Update chart version
  charts/am-role-assignment-service/Chart.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-149

#153 AAT- Fixing the Smoke test issue.
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/SmokeTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-153

#150 AM-876 : fix defects AM-876,AM-878.
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/advice/RoleAssignmentControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/HistoryRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-150

#152 Am 847 j unit test
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-152

#148 AM-850 - Functional test data files added for F-005
  src/functionalTest/resources/features/F-000/F-000.feature
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-005/F-005-Base-Root.td.json
  src/functionalTest/resources/features/F-005/F-005.feature
  src/functionalTest/resources/features/F-005/F-005_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-005/S-051.td.json
  src/functionalTest/resources/features/F-005/S-051_CreationDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-005/S-052.td.json
  src/functionalTest/resources/features/F-005/S-052_CreationDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-005/S-053.td.json
  src/functionalTest/resources/features/F-005/S-054.td.json
  src/functionalTest/resources/features/F-005/S-054_CreationDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-005/S-055.td.json
  src/functionalTest/resources/features/F-005/S-056.td.json
  src/functionalTest/resources/features/F-005/S-056_CreationDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-005/S-057.td.json
  src/functionalTest/resources/features/F-005/S-057_CreationDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-005/S-058.td.json
  src/functionalTest/resources/features/F-005/S-058_CreationDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-005/S-058_GetDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-007/F-007.feature
  src/functionalTest/resources/features/common/BadRequestResponse.td.json
  src/functionalTest/resources/features/common/CreationDataForRoleAssignment.td.json
  src/functionalTest/resources/features/common/RequestedRole.td.json
  src/functionalTest/resources/features/common/ResourceNotFoundResponse.td.json
  src/functionalTest/resources/features/common/ResponseRequestedRole.td.json
  src/functionalTest/resources/features/common/ResponseRoleAssignment.td.json
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentController.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-148

#154 Am 841 delete junit
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-154

#151 Am 866 867 validations and error responses
  src/main/java/uk/gov/hmcts/reform/roleassignment/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/advice/RoleAssignmentControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtil.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/advice/RoleAssignmentControllerAdviceTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-151

#164 Am 763 delete role assignment by assignment
  src/functionalTest/resources/features/F-003/F-003.feature
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/AssignmentRequest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/v1/V1.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-164

#165 AM-763: Delete by assignment Id. Fixing the broken functional tests.
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-165

#166 AM-875 Functional Test cases for F-003
  src/functionalTest/resources/features/F-003/F-003-Base-Root.td.json
  src/functionalTest/resources/features/F-003/F-003.feature
  src/functionalTest/resources/features/F-003/F-003_CreationDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-003/F-003_DeleteDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-003/F-003_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-003/S-031.td.json
  src/functionalTest/resources/features/F-003/S-032.td.json
  src/functionalTest/resources/features/F-003/S-033.td.json
  src/functionalTest/resources/features/F-003/S-034.td.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-166

#171 Am 763 delete role assignment by assignment
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-171

#170 Am 863 identify delete drool rule
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/advice/RoleAssignmentControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/enums/Status.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/JacksonUtils.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtil.java
  src/main/resources/validationrules/case.drl
  src/main/resources/validationrules/request.drl
  src/main/resources/validationrules/requestedRole.drl
  src/main/resources/validationrules/role.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-170

#173 Disabling F-000.feature
  src/functionalTest/resources/features/F-000/F-000.feature
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-173

#172 AM-836: Functional test automation for Create Role Assignments
  src/functionalTest/resources/features/F-001/F-001-Base-Root.td.json
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-001/F-001_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-001/S-001.td.json
  src/functionalTest/resources/features/F-001/S-002.td.json
  src/functionalTest/resources/features/F-001/S-003.td.json
  src/functionalTest/resources/features/F-001/S-004.td.json
  src/functionalTest/resources/features/F-001/S-005.td.json
  src/functionalTest/resources/features/F-001/S-006.td.json
  src/functionalTest/resources/features/F-001/S-007.td.json
  src/functionalTest/resources/features/F-001/S-008.td.json
  src/functionalTest/resources/features/F-001/S-009.td.json
  src/functionalTest/resources/features/F-001/S-010.td.json
  src/functionalTest/resources/features/F-001/S-012.td.json
  src/functionalTest/resources/features/F-001/S-013.td.json
  src/functionalTest/resources/features/F-001/S-018.td.json
  src/functionalTest/resources/features/F-001/S-019.td.json
  src/functionalTest/resources/features/common/ResponseRoleRequest.td.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-172

#182 Am 836 create role assignments automation tests
  src/functionalTest/resources/features/F-001/F-001-Base-Root.td.json
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-001/F-001_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-001/S-001.td.json
  src/functionalTest/resources/features/F-001/S-002.td.json
  src/functionalTest/resources/features/F-001/S-003.td.json
  src/functionalTest/resources/features/F-001/S-004.td.json
  src/functionalTest/resources/features/F-001/S-005.td.json
  src/functionalTest/resources/features/F-001/S-006.td.json
  src/functionalTest/resources/features/F-001/S-007.td.json
  src/functionalTest/resources/features/F-001/S-008.td.json
  src/functionalTest/resources/features/F-001/S-009.td.json
  src/functionalTest/resources/features/F-001/S-010.td.json
  src/functionalTest/resources/features/F-001/S-012.td.json
  src/functionalTest/resources/features/F-001/S-013.td.json
  src/functionalTest/resources/features/F-001/S-018.td.json
  src/functionalTest/resources/features/F-001/S-019.td.json
  src/functionalTest/resources/features/common/ResponseRequestedRole.td.json
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/HistoryRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-182

#181 AM-904 : Fixed issues which reported in Show and tell session.
  src/functionalTest/resources/features/F-002/F-002.feature
  src/functionalTest/resources/features/F-002/S-027.td.json
  src/functionalTest/resources/features/F-002/S-028.td.json
  src/functionalTest/resources/features/F-002/S-030.td.json
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-181

#176 AM-896 : Manage Duplicate Records when replace existing= true.
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleAssignmentSubset.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PrepareResponseService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/JacksonUtils.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtil.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-176

#189 Am 896 functional test fix
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-001/S-001_DeleteDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-001/S-002_DeleteDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-001/S-003_DeleteDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-001/S-004.td.json
  src/functionalTest/resources/features/F-001/S-005.td.json
  src/functionalTest/resources/features/F-001/S-012_DeleteDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-001/S-013_DeleteDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-001/S-018_DeleteDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-001/S-019.td.json
  src/functionalTest/resources/features/F-003/F-003.feature
  src/functionalTest/resources/features/F-003/F-003_DeleteDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-003/F-003_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-003/S-031.td.json
  src/functionalTest/resources/features/F-003/S-031_CreationDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-003/S-032.td.json
  src/functionalTest/resources/features/F-003/S-032_CreationDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-003/S-034.td.json
  src/functionalTest/resources/features/F-003/S-034_CreationDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-003/S-034_DeleteDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-005/F-005.feature
  src/functionalTest/resources/features/F-005/S-051_DeleteDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-005/S-052_CreationDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-005/S-052_DeleteDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-005/S-054_CreationDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-005/S-054_DeleteDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-005/S-056_CreationDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-005/S-056_DeleteDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-005/S-057_CreationDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-005/S-057_DeleteDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-005/S-058_CreationDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-005/S-058_DeleteDataForRoleAssignment.td.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-189

#183 AM-882_Junit_improvement
  build.gradle
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/security/IdamRoleService.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateRoleAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/S2SAuthenticationTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/HistoryEntityTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/model/CaseTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PrepareResponseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/security/IdamRoleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DatastoreFeignClientConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DatastoreFeignClientFallbackTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtilTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtilTest.java
  src/test/resources/notes.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-183

#169 Am 825 open id fix
  Jenkinsfile_CNP
  build.gradle
  charts/am-role-assignment-service/Chart.yaml
  charts/am-role-assignment-service/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/roleassignment/RoleAssignmentApplication.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/ApplicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/UserRoles.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/security/IdamRoleService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DatastoreFeignClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/feignclients/exceptionhandler/DatastoreFeignExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/OIdcAdminConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/SecurityUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateRoleAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/security/IdamRoleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DatastoreFeignClientConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/SecurityUtilsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-169

#201 Am 760 get list of role assignments based on query params
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/v1/V1.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-201

#205 AM-760: Added case insensitive role type comparison.
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-205

#206 AM-902 : Weak Etag support
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-206

#208 AM-920 : Fix for Organization.
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtil.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-208

#214 AM-898: Fix IT in PR and generate report
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentIntegrationTest.java
  src/integrationTest/resources/sql/insert_role_assignment_request.sql
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-214

#212 Am 901 mutation and junit improvements
  build.gradle
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/security/IdamRoleService.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/WelcomeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/advice/RoleAssignmentControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateRoleAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/data/roleassignment/HistoryEntityTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PrepareResponseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/security/IdamRoleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/CorrelationInterceptorUtilTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/JacksonUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/JsonBConverterTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtilTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-212

#218 AM-901 coverage
  src/test/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/oidc/OIdcAdminConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/SecurityUtilsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-218

#226 AM-927: Launch Darkly initial checkin. Added the LD secrets.
  charts/am-role-assignment-service/Chart.yaml
  charts/am-role-assignment-service/values.yaml
  infrastructure/main.tf
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-226

#228 Am - 930 - Junit improvement
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtil.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/CreatedTimeComparatorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-228

#216 Dependency suppressions removal.
  build.gradle
  config/owasp/suppressions.xml
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-216

#237 Am-940: Downgrading the JDK version.
  Dockerfile
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentIntegrationTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-237

#238 AM-939: Feature name changes.
  src/functionalTest/resources/features/F-002/F-002.feature
  src/functionalTest/resources/features/F-006/F-006.feature
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-238

#242 Launch darkly environment setup
  infrastructure/main.tf
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-242

#243 Launch darkly implementation
  build.gradle
  charts/am-role-assignment-service/Chart.yaml
  charts/am-role-assignment-service/values.preview.template.yaml
  charts/am-role-assignment-service/values.yaml
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/LdFlagChecker.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/Constants.java
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-243

#246 AM-927: Adding LD Bean caching.
  src/main/java/uk/gov/hmcts/reform/roleassignment/RoleAssignmentApplication.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/LDCacheConfig.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/LDFlagChecker.java
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-246

#235 AM-930, AM-931 - Mutation coverage and QA
  build.gradle
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtil.java
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateRoleAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PrepareResponseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/RetrieveDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/validateroles/RuleValidationOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/CreatedTimeComparatorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-235

#245 Changes for adding secrets for environments
  charts/am-role-assignment-service/Chart.yaml
  charts/am-role-assignment-service/values.yaml
  infrastructure/main.tf
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-245

#229 Am 933 Fetch other user details
  Jenkinsfile_CNP
  charts/am-role-assignment-service/Chart.yaml
  charts/am-role-assignment-service/values.preview.template.yaml
  docker-compose.yml
  infrastructure/main.tf
  src/functionalTest/resources/features/F-001/F-001-Base-Root.td.json
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-001/S-001.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/WelcomeControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/RoleAssignmentApplication.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/security/IdamRoleService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/OIdcAdminConfiguration.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepositoryTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-229

#211 Am 885 smoke testing
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/BaseTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/EnvironmentVariableUtils.java
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/SmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/UserTokenProviderConfig.java
  src/smokeTest/resources/create_request_body.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-211
