Repository hmcts/am-role-assignment-service, pull requests merged in 2020-10, with the labels that each got.

#402 disabling the idam search user functionality
  build.gradle
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-402

#405 Am 1060 uid changes
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/ActorCacheEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/ActorCacheRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/HistoryEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/RequestEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/ActorCache.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/Request.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleAssignment.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleAssignmentSubset.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/AuditLoggerUtil.java
  src/main/resources/db/changelog/db.changelog-AM-1060.xml
  src/main/resources/db/changelog/db.changelog-master.xml
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/AuditLoggerUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-405

#399 Am 1031 junit based on dynamic query
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentEntitySpecifications.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/QueryRequest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/v1/V1.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/data/HistoryEntityTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentEntitySpecificationsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestratorTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-399

#409 Liquibase force lock release
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/LiquibaseConfig.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-409

#411 Am 1036 added column authorisations in ras
  src/functionalTest/resources/features/F-006/F-006.feature
  src/functionalTest/resources/features/common/RequestedRole.td.json
  src/functionalTest/resources/features/common/ResponseRequestedRole.td.json
  src/functionalTest/resources/features/common/ResponseRoleAssignment.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentCreateAndDeleteIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentIntegrationTest.java
  src/integrationTest/resources/sql/insert_assignment_records_to_delete.sql
  src/integrationTest/resources/sql/insert_role_assignment_authorisations.sql
  src/integrationTest/resources/sql/role_assignment_clean_up.sql
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/advice/RoleAssignmentControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/HistoryEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentEntitySpecifications.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/QueryRequest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleAssignment.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/Constants.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtil.java
  src/main/resources/db/changelog/db.changelog-AM-1029.xml
  src/main/resources/db/changelog/db.changelog-master.xml
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentEntitySpecificationsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-411

#394 Am 1030 organisation end date
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/BaseTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/Constants.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtil.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-394

#397 Updating the JDBC Query
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/HistoryRepository.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-397

#415 Am perftest logging
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestrator.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-415

#418 AM-1036: Adding a new column in RAS - Authorisations
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-001/S-091.td.json
  src/functionalTest/resources/features/F-001/S-092.td.json
  src/functionalTest/resources/features/F-001/S-097.td.json
  src/functionalTest/resources/features/F-001/S-097_Response_no_authorisations.td.json
  src/functionalTest/resources/features/F-001/S-097_Single_Role_Creation.td.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-418

#419 AM-1030: Assignment end time scenario for Role Tye = ORGANISATION
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-001/S-101.td.json
  src/functionalTest/resources/features/F-001/S-101_Response_without_time.td.json
  src/functionalTest/resources/features/F-001/S-101_Role_Request_without_time.td.json
  src/functionalTest/resources/features/F-001/S-102.td.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-419

#420 AM-1031: Fetch role assignments based on query request
  src/functionalTest/resources/features/F-006/F-006-Base-Root.td.json
  src/functionalTest/resources/features/F-006/F-006.feature
  src/functionalTest/resources/features/F-006/F-006_DeleteRoleAssignmentsByActorId.td.json
  src/functionalTest/resources/features/F-006/F-006_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-006/S-061.td.json
  src/functionalTest/resources/features/F-006/S-081.td.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-420

#430 Moving the secrets from CCD vault to AM vault.
  Jenkinsfile_CNP
  Jenkinsfile_nightly
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-430

#429 removing the OWASP and using hmcts plugin.
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-429

#435 Liquibase lock release.
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/LiquibaseConfig.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-435

#433 Am 1068 drool performance
  src/functionalTest/resources/features/F-001/S-004.td.json
  src/functionalTest/resources/features/F-001/S-014.td.json
  src/functionalTest/resources/features/F-007/S-071.td.json
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/enums/RoleCategory.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentService.java
  src/main/resources/role.json
  src/main/resources/validationrules/01_validate_request.drl
  src/main/resources/validationrules/02_validate_existing_roles.drl
  src/main/resources/validationrules/03_validate_case_details.drl
  src/main/resources/validationrules/judge_validation.drl
  src/main/resources/validationrules/reject.drl
  src/main/resources/validationrules/stcw_validation.drl
  src/main/resources/validationrules/tcw_validation.drl
  src/smokeTest/resources/create_request_body.json
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelServiceTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-433

#441 AM-1086- update drool rules for delete api.
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/main/resources/validationrules/judge_validation.drl
  src/main/resources/validationrules/reject.drl
  src/main/resources/validationrules/stcw_validation.drl
  src/main/resources/validationrules/tcw_validation.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentServiceTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-441

#442 AM-1028:PACT Provider test for static roles API
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/RoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/RoleAssignmentProviderTestConfiguration.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-442

#451 AM-1068: Performance improvements. Removed authorisations table.
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentIntegrationTest.java
  src/integrationTest/resources/sql/insert_assignment_records_to_delete.sql
  src/integrationTest/resources/sql/insert_role_assignment_authorisations.sql
  src/integrationTest/resources/sql/role_assignment_clean_up.sql
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/LiquibaseConfig.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/ActorCacheEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/HistoryEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentEntitySpecifications.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtil.java
  src/main/resources/application.yaml
  src/main/resources/db/changelog/db.changelog-AM-1029.xml
  src/main/resources/db/changelog/db.changelog-AM-1029_3.xml
  src/main/resources/db/changelog/db.changelog-AM-1042_4.xml
  src/main/resources/db/changelog/db.changelog-AM-1060_2.xml
  src/main/resources/db/changelog/db.changelog-AM-1068_5.xml
  src/main/resources/db/changelog/db.changelog-AM-823_1.xml
  src/main/resources/db/changelog/db.changelog-master.xml
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-451

#445 Am 1073 filter correlation Id and return in headers
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentCreateAndDeleteIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/MutableHttpServletRequest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/CorrelationInterceptorUtil.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/FilterRequestUtil.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtil.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/CorrelationInterceptorUtilTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/FilterRequestUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-445

#454 AM-1090:fix pact provider issue
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-454

#446 AM: Replace existing true full scenario
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-001/S-020.td.json
  src/functionalTest/resources/features/F-001/S-020_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-001/S-020_Get_Role_Assignments_Search_Query.td.json
  src/functionalTest/resources/features/F-001/S-020_Get_Role_Assignments_Search_Query_Second_ActorId.td.json
  src/functionalTest/resources/features/F-001/S-020_Multiple_Role_Creation.td.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-446

#457 updating the role config file
  src/main/resources/role.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-457

#466 Update the Service user and befta secrets
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  README.md
  docker-compose.yml
  src/functionalTest/resources/features/F-001/F-001-Base-Root.td.json
  src/functionalTest/resources/features/F-001/S-020_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-001/S-020_Get_Role_Assignments_Search_Query.td.json
  src/functionalTest/resources/features/F-001/S-020_Get_Role_Assignments_Search_Query_Second_ActorId.td.json
  src/functionalTest/resources/features/F-002/F-002-Base-Root.td.json
  src/functionalTest/resources/features/F-002/S-030_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-003/F-003-Base-Root.td.json
  src/functionalTest/resources/features/F-005/F-005-Base-Root.td.json
  src/functionalTest/resources/features/F-006/F-006-Base-Root.td.json
  src/functionalTest/resources/features/F-006/F-006_DeleteDataForMultipleRoleAssignments.td.json
  src/functionalTest/resources/features/F-006/S-083_DeleteDataForMultipleRoleAssignments.td.json
  src/functionalTest/resources/features/F-006/S-087_DeleteDataForMultipleRoleAssignments.td.json
  src/functionalTest/resources/features/F-007/F-007-Base-Root.td.json
  src/functionalTest/resources/features/common/CreationDataBaseForRoleAssignment.td.json
  src/functionalTest/resources/features/common/DeleteDataForRoleAssignments.td.json
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentEntitySpecifications.java
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/UserTokenProviderConfig.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-466

#469 updating the role config file
  src/main/resources/role.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-469
