Repository hmcts/am-role-assignment-service, pull requests merged in 2021-03, with the labels that each got.

#649 Handle the Drool Rule Validation in RAS to Create ORG Role Assignment…
  src/functionalTest/resources/features/common/CreationDataBaseForRoleAssignment.td.json
  src/functionalTest/resources/features/common/ResponseRoleRequest.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/DroolPassAssignmentCreateAndDeleteIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentCreateAndDeleteIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/Request.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/main/resources/application.yaml
  src/main/resources/validationrules/core/staff-organisational-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolJudicialCategoryTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/StaffCategoryOrgRoleTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-649

#676 Pacts failing fix
  Jenkinsfile_CNP
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/DeleteRoleAssignmentProviderTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-676

#677 Upgrade spring to 2.3.9.RELEASE
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-677

#687 AM-1220 Tomcat Upgrade
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-687

#688 Am 1214 begin and endtime issue fix
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtil.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/v1/V1.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-688

#675 STAFF RoleCategory update and caseRole attribute update
  src/functionalTest/resources/features/F-006/S-087.td.json
  src/functionalTest/resources/features/F-006/S-087_CreationDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-007/S-071.td.json
  src/functionalTest/resources/features/F-008/F-008-Base-Root.td.json
  src/functionalTest/resources/features/F-008/F-008.feature
  src/functionalTest/resources/features/F-008/S-103.td.json
  src/functionalTest/resources/features/F-008/S-104.td.json
  src/functionalTest/resources/features/F-008/S-104_Multiple_Role_Creation.td.json
  src/functionalTest/resources/features/F-008/S-106.td.json
  src/functionalTest/resources/features/F-008/S-106_Multiple_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-008/S-107.td.json
  src/functionalTest/resources/features/F-008/S-107_Multiple_Case_Role_Creation.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/DroolPassAssignmentCreateAndDeleteIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/Assignment.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleAssignment.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/enums/RoleCategory.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/Constants.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/JacksonUtils.java
  src/main/resources/role.json
  src/main/resources/validationrules/core/staff-organisational-role-mapping.drl
  src/main/resources/validationrules/iac/iac-case-role-validation.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/model/AssignmentTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/StaffCategoryCaseTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/StaffCategoryOrgRoleTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
  src/test/resources/attributes.json
  src/test/resources/role.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-675

#691 Am 1214 fix for requestedRoles coming back as empty
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-691

#699 cve fix
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditInterceptor.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DatastoreFeignClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureConditionEvaluation.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/FilterRequestUtil.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/SecurityUtilsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-699

#712 added the Hikari connection pool settings.
  charts/am-role-assignment-service/Chart.yaml
  charts/am-role-assignment-service/values.preview.template.yaml
  charts/am-role-assignment-service/values.yaml
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-712
