Repository hmcts/am-role-assignment-service, pull requests merged in 2021-10, with the labels that each got.

#993 Fixing the code.
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-993

#969 AM_1622 Junit Case roles
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/StaffCategoryCaseTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/StaffCategoryOrgRoleTest.java
  src/test/resources/role.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-969

#985 Demo-fix
  src/main/resources/validationrules/ccd/ccd-case-role-validation.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CCDCaseRolesTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-985

#994 Upgrade TF and AzureRM version, remove unwanted var
  infrastructure/.terraform-version
  infrastructure/terraform.tf
  infrastructure/variables.tf
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-994

#952 New org and case roles for WA R2 release
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V1_4__judicial_flag_config_tables.sql
  src/main/resources/roleconfig/role_iac.json
  src/main/resources/validationrules/core/judicial-organisational-role-mapping.drl
  src/main/resources/validationrules/core/organisational-role-mapping-common.drl
  src/main/resources/validationrules/iac/iac-case-role-validation-judicial.drl
  src/main/resources/validationrules/iac/iac-case-role-validation-legal-ops.drl
  src/main/resources/validationrules/iac/iac-case-role-validation.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/StaffCategoryCaseTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/StaffCategoryOrgRoleTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
  src/test/resources/role.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-952

#962 JUnit test cases for case roles
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-001/S-097_Response_no_authorisations.td.json
  src/functionalTest/resources/features/F-001/S-097_Single_Role_Creation.td.json
  src/functionalTest/resources/features/F-002/F-002.feature
  src/functionalTest/resources/features/F-006/F-006.feature
  src/functionalTest/resources/features/F-009/F-009.feature
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/DroolPassAssignmentCreateAndDeleteIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentCreateAndDeleteIntegrationTest.java
  src/integrationTest/resources/sql/insert_assignment_records_to_delete.sql
  src/integrationTest/resources/sql/insert_multiple_assignments_to_delete.sql
  src/integrationTest/resources/sql/insert_role_assignment_to_create.sql
  src/main/resources/db/migration/V1_4__judicial_flag_config_tables.sql
  src/main/resources/validationrules/test/judicial-test-case-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CCDCaseRolesTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolJudicialCategoryCaseRoleTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolJudicialCategoryOrgRoleTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/StaffCategoryCaseTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/StaffCategoryOrgRoleTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-962

#992 Adding the CCD S2S token Util to Functional tests
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/functionalTest/java/uk/gov/hmcts/reform/roleassignment/befta/RoleAssignmentTestAutomationAdapter.java
  src/functionalTest/java/uk/gov/hmcts/reform/roleassignment/befta/utils/TokenUtils.java
  src/functionalTest/java/uk/gov/hmcts/reform/roleassignment/befta/utils/UserTokenProviderConfig.java
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-001/S-114.td.json
  src/functionalTest/resources/features/F-001/S-115.td.json
  src/functionalTest/resources/features/F-001/S-116.td.json
  src/functionalTest/resources/features/F-001/S-117.td.json
  src/functionalTest/resources/features/F-001/S-118.td.json
  src/functionalTest/resources/features/F-001/S-119.td.json
  src/functionalTest/resources/features/F-001/S-121.td.json
  src/functionalTest/resources/features/F-001/S-122.td.json
  src/functionalTest/resources/features/F-002/F-002.feature
  src/functionalTest/resources/features/F-002/S-035.td.json
  src/functionalTest/resources/features/common/CreationDataForRoleAssignmentByServiceId.td.json
  src/functionalTest/resources/features/common/DeleteDataForRoleAssignmentsByServiceId.td.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-992
