Repository hmcts/am-role-assignment-service, pull requests merged in 2021-02, with the labels that each got.

#601 AM-1143 changes for fetch ccd details through ras static account.
  src/functionalTest/resources/ccd-iac-integration-dev.xlsx
  src/main/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DatastoreFeignClientInterceptor.java
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-601

#632 AM-1188 whitelisting the xui_webapp service in RAS.
  charts/am-role-assignment-service/Chart.yaml
  charts/am-role-assignment-service/values.yaml
  docker-compose.yml
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-632

#641 suppressing cve
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-641

#642 disable hystrix in AAT.
  charts/am-role-assignment-service/Chart.yaml
  charts/am-role-assignment-service/values.preview.template.yaml
  charts/am-role-assignment-service/values.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-642

#633 Sonar cube fixes
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/ExpressionEvaluator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/SecurityUtils.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/data/ActorCacheEntityTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/data/GenericArrayUserTypeTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/data/HistoryEntityTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentEntityTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleConfigConstraintTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/oidc/JwtGrantedAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/FilterRequestUtilTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtilTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-633

#645 increased hystrix time out to handle timeout exception.
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-645

#639 chart update as required by jenkins
  charts/am-role-assignment-service/Chart.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-639

#646 Am 1177 ras mutation coverage
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditInterceptor.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtil.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/advice/RoleAssignmentControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/data/ActorCacheEntityTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/data/GenericArrayUserTypeTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/data/HistoryEntityTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentEntityTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/model/AssignmentTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleConfigConstraintTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DatastoreFeignClientInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/oidc/JwtGrantedAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/AuditLoggerUtilTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/CorrelationInterceptorUtilTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/FilterRequestUtilTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/JsonBConverterTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtilTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-646

#647 Removing the unnecessary entry for Sonarqube.
  build.gradle
  charts/am-role-assignment-service/Chart.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-647

#648 update feign client timeout
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-648

#660 AM-1196 fix failing build
  audit.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-660

#662 AM-1196 deleting unsupported file
  charts/am-role-assignment-service/requirements.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-662

#661 deteched_entity issue.
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-661

#664 Deteched entity issue
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-664

#663 AM-1215 sonar bugs and smells fix
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditInterceptor.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentEntitySpecifications.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestrator.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/advice/RoleAssignmentControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/data/ActorCacheEntityTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/model/AssignmentTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PrepareResponseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/StaffCategoryCaseTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DatastoreFeignClientInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtilTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/SecurityUtilsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-663
