Repository hmcts/am-role-assignment-service, pull requests merged in 2021-07, with the labels that each got.

#875 1399 - fixing pact pipeline publishing
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-875

#833 Am 1405 advance query dev
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/CreateRoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/DeleteRoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/GetActorByIdRoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/GetRoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/SearchQueryRoleAssignmentProviderTest.java
  src/functionalTest/resources/features/F-009/F-009-Base-Root.td.json
  src/functionalTest/resources/features/F-009/F-009.feature
  src/functionalTest/resources/features/F-009/F-009_CreationDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-009/F-009_DeleteDataForMultipleRoleAssignments.td.json
  src/functionalTest/resources/features/F-009/F-009_DeleteRoleAssignmentsByActorId.td.json
  src/functionalTest/resources/features/F-009/F-009_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-009/S-172.td.json
  src/functionalTest/resources/features/F-009/S-173.td.json
  src/functionalTest/resources/features/F-009/S-174.td.json
  src/functionalTest/resources/features/F-009/S-175.td.json
  src/functionalTest/resources/features/F-009/S-175_CreationDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-009/S-175_DeleteDataForMultipleRoleAssignments.td.json
  src/functionalTest/resources/features/F-009/S-183.td.json
  src/functionalTest/resources/features/F-009/S-183_CreationDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-009/S-183_DeleteDataForMultipleRoleAssignments.td.json
  src/functionalTest/resources/features/F-009/S-184.td.json
  src/functionalTest/resources/features/F-009/S-186.td.json
  src/functionalTest/resources/features/F-009/S-187.td.json
  src/functionalTest/resources/features/F-009/S-187_CreationDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-009/S-187_DeleteDataForMultipleRoleAssignments.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/QueryAssignmentIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentEntitySpecifications.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/MultipleQueryRequest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/QueryRequest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PageHolder.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtil.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/versions/V1.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/versions/V2.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentEntitySpecificationsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepositoryTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-833

#887 updated the provider pact
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/SearchQueryRoleAssignmentProviderTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-887

#884 AM1493: Functional Test fix.
  src/functionalTest/resources/features/F-009/F-009.feature
  src/functionalTest/resources/features/F-009/S-175.td.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-884

#888 CVE fix.
  build.gradle
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/AssignmentRequest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-888

#895 AM-1510 PACT Provider Advance Delete
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/DeleteRoleAssignmentProviderTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-895

#876 Create Bulk Assignments Script
  src/test/resources/db/performance/insert_bulk_assignments.sql
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-876

#897 Pact fix for create case & delete endpoints
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/CreateRoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/DeleteRoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/GetActorByIdRoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/RoleAssignmentProviderTestConfiguration.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/SearchQueryRoleAssignmentProviderTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
  src/test/resources/attributesCase.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-897

#896 AM-1508: functional test automation
  src/functionalTest/resources/features/F-010/F-010-Base-Root-Create.td.json
  src/functionalTest/resources/features/F-010/F-010-Base-Root.td.json
  src/functionalTest/resources/features/F-010/F-010.feature
  src/functionalTest/resources/features/F-010/F-010_Test_Data_Base-Create.td.json
  src/functionalTest/resources/features/F-010/F-010_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-010/S-190.td.json
  src/functionalTest/resources/features/F-010/S-190_DeleteDataForRoleAssignmentsForOrgRoles.td.json
  src/functionalTest/resources/features/F-010/S-190_Multiple_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-010/S-191.td.json
  src/functionalTest/resources/features/F-010/S-191_DeleteDataForRoleAssignmentsForOrgRoles.td.json
  src/functionalTest/resources/features/F-010/S-191_Multiple_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-010/S-192.td.json
  src/functionalTest/resources/features/F-010/S-192_DeleteDataForRoleAssignmentsForOrgRoles.td.json
  src/functionalTest/resources/features/F-010/S-192_Multiple_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-010/S-193.td.json
  src/functionalTest/resources/features/F-010/S-193_DeleteDataForRoleAssignmentsForOrgRoles.td.json
  src/functionalTest/resources/features/F-010/S-193_Multiple_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-010/S-194.td.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-896

#906 Fix CVE issues.CVE-2021-35515, CVE-2021-35516, CVE-2021-35517, CVE-2021-36090
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-906

#889 AM-1506: Mutation testing for advance delete api
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-889

#909 Update chart version.
  charts/am-role-assignment-service/Chart.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-909
