Repository hmcts/am-role-assignment-service, pull requests merged in 2021-06, with the labels that each got.

#814 Swagger Request Url Fix
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/SwaggerConfiguration.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-814

#822 AM-1418 - Junit Coverage
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/RetrieveDataService.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/RetrieveDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepositoryTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-822

#815 Am 1366 drl additional logging
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditEntry.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditInterceptor.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditLogFormatter.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/LogAudit.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/AuditContext.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/MutableHttpServletRequest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtil.java
  src/main/resources/validationrules/core/judicial-case-role-mapping.drl
  src/main/resources/validationrules/core/judicial-organisational-role-mapping.drl
  src/main/resources/validationrules/core/load-case-data.drl
  src/main/resources/validationrules/core/reject-unapproved-role-assignments.drl
  src/main/resources/validationrules/core/role-assignment-config-validation.drl
  src/main/resources/validationrules/core/staff-organisational-role-mapping.drl
  src/main/resources/validationrules/dev/development-superuser.drl
  src/main/resources/validationrules/iac/iac-case-role-validation.drl
  src/main/resources/validationrules/test/test.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/FilterRequestUtilTest.java
  src/test/resources/logback-test.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-815

#791 Removal of LD flag from RAS service
  src/functionalTest/resources/features/F-000/F-000.feature
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-002/F-002.feature
  src/functionalTest/resources/features/F-003/F-003.feature
  src/functionalTest/resources/features/F-005/F-005.feature
  src/functionalTest/resources/features/F-006/F-006.feature
  src/functionalTest/resources/features/F-007/F-007.feature
  src/functionalTest/resources/features/F-008/F-008.feature
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureToggleService.java
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureToggleServiceTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-791

#787 Table based befta
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/am-role-assignment-service/Chart.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/roleassignment/befta/RasDefaultMultiSourceFeatureToggleService.java
  src/functionalTest/java/uk/gov/hmcts/reform/roleassignment/befta/RasFeatureToggleService.java
  src/functionalTest/java/uk/gov/hmcts/reform/roleassignment/befta/RoleAssignmentBeftaMain.java
  src/functionalTest/java/uk/gov/hmcts/reform/roleassignment/befta/RoleAssignmentBeftaRunner.java
  src/functionalTest/java/uk/gov/hmcts/reform/roleassignment/befta/RoleAssignmentTestAutomationAdapter.java
  src/functionalTest/resources/features/F-000/F-000.feature
  src/functionalTest/resources/features/F-000/S-110.td.json
  src/functionalTest/resources/features/F-000/S-111.td.json
  src/functionalTest/resources/features/F-000/S-112.td.json
  src/functionalTest/resources/features/F-000/S-113.td.json
  src/functionalTest/resources/features/F-000/S-120.td.json
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/DBFlagConfigurtion.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/FeatureFlagController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/FlagConfig.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/FlagConfigRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/FeatureFlag.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/FlagRequest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/enums/FeatureFlagEnum.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtil.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_2__new_flag_config_tables.sql
  src/main/resources/validationrules/iac/iac-case-role-validation.drl
  src/main/resources/validationrules/test/test.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/FeatureFlagControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/StaffCategoryCaseTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-787

#812 AM-1393: Convert the 404 to 200 get GetAssignmentsByActorId.
  src/functionalTest/resources/features/F-005/F-005.feature
  src/functionalTest/resources/features/F-005/S-053.td.json
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/v1/V1.java
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestratorTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-812

#829 (fix): Removed the unnecessary logging.
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/SecurityEndpointFilter.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-829

#831 Am 1403
  build.gradle
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/AuditAspectTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/ExpressionEvaluatorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/WelcomeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/advice/RoleAssignmentControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/RetrieveDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureConditionEvaluationTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/AuditLoggerUtilTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/JsonBConverterTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-831

#823 AM-1411: Fix sonar vulnerabilities in RAS
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditInterceptor.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/AuditAspect.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/ExpressionEvaluator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/FeatureFlagController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/GenericArrayUserType.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/Assignment.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleConfig.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/enums/FeatureFlagEnum.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/RetrieveDataService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/AuditLoggerUtil.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/CorrelationInterceptorUtil.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/FilterRequestUtil.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtil.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/SecurityUtils.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtil.java
  src/main/resources/validationrules/iac/iac-case-role-validation.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/StaffCategoryCaseTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-823

#834 Am-1413_Pact_testing_issues_RAS
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/Assignment.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtil.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-834

#830 Drool v11 logging and new FTA
  src/functionalTest/resources/features/F-008/F-008.feature
  src/functionalTest/resources/features/F-008/S-154.td.json
  src/functionalTest/resources/features/F-008/S-155.td.json
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureToggleService.java
  src/main/resources/validationrules/iac/iac-case-role-validation.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureToggleServiceTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-830

#846 Revert "Am-1413_Pact_testing_issues_RAS"
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/Assignment.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtil.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-846

#847 (fix): Fixing the tests.
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/roleassignment/befta/RoleAssignmentTestAutomationAdapter.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentIdentity.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-847

#858 Am-1433 mutation test advance query
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/roleassignment/befta/RoleAssignmentTestAutomationAdapter.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentIdentity.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepositoryTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-858

#859 Add github autoupdate
  .github/workflows/autoupdate.yml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-859

#867 Am 1451 ras code improvement
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/CreateRoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/DeleteRoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/GetActorByIdRoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/GetRoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/SearchQueryRoleAssignmentProviderTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PageHolder.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelServiceTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-867

#870 1473 zap security fix
  security.sh
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-870
