Repository hmcts/am-role-assignment-service, pull requests merged in 2021-01, with the labels that each got.

#575 AM-1158 addressing CVEs
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-575

#577 Flyway migration
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/BaseTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/LiquibaseConfig.java
  src/main/resources/application.yaml
  src/main/resources/db/changelog/db.changelog-AM-1029_3.xml
  src/main/resources/db/changelog/db.changelog-AM-1042_4.xml
  src/main/resources/db/changelog/db.changelog-AM-1060_2.xml
  src/main/resources/db/changelog/db.changelog-AM-1068_5.xml
  src/main/resources/db/changelog/db.changelog-AM-1108_6.xml
  src/main/resources/db/changelog/db.changelog-AM-1149_7.xml
  src/main/resources/db/changelog/db.changelog-AM-823_1.xml
  src/main/resources/db/changelog/db.changelog-main.xml
  src/main/resources/db/changelog/db.changelog-master.xml
  src/main/resources/db/migration/V1_1__init_tables.sql
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-577

#581 authorisation issue fix.
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-001/S-020_Get_Role_Assignments_Search_Query.td.json
  src/functionalTest/resources/features/F-001/S-020_Get_Role_Assignments_Search_Query_Second_ActorId.td.json
  src/functionalTest/resources/features/F-001/S-109.td.json
  src/functionalTest/resources/features/F-001/S-109_CreationDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-005/S-051.td.json
  src/functionalTest/resources/features/F-005/S-052.td.json
  src/functionalTest/resources/features/F-005/S-054.td.json
  src/functionalTest/resources/features/F-005/S-056.td.json
  src/functionalTest/resources/features/F-005/S-057.td.json
  src/functionalTest/resources/features/F-005/S-058_GetDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-005/S-059.td.json
  src/functionalTest/resources/features/F-006/S-081.td.json
  src/functionalTest/resources/features/F-006/S-082.td.json
  src/functionalTest/resources/features/F-006/S-083.td.json
  src/functionalTest/resources/features/F-006/S-084.td.json
  src/functionalTest/resources/features/F-006/S-085.td.json
  src/functionalTest/resources/features/F-006/S-086.td.json
  src/functionalTest/resources/features/F-006/S-087.td.json
  src/functionalTest/resources/features/common/RequestedRole.td.json
  src/functionalTest/resources/features/common/ResponseRequestedRole.td.json
  src/functionalTest/resources/features/common/ResponseRoleAssignment.td.json
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtil.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-581

#576 AM-1026 pact provider for delete api
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/DeleteRoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/RoleAssignmentProviderTestConfiguration.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-576

#579 AM-1154: Updated Multiple RoleAssignments for search query Pact.
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/SearchQueryRoleAssignmentProviderTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-579

#589 Am 1161 remove link in ras
  src/functionalTest/resources/features/F-001/S-001.td.json
  src/functionalTest/resources/features/F-001/S-002.td.json
  src/functionalTest/resources/features/F-001/S-003.td.json
  src/functionalTest/resources/features/F-001/S-004.td.json
  src/functionalTest/resources/features/F-001/S-005.td.json
  src/functionalTest/resources/features/F-001/S-011.td.json
  src/functionalTest/resources/features/F-001/S-012.td.json
  src/functionalTest/resources/features/F-001/S-013.td.json
  src/functionalTest/resources/features/F-001/S-014.td.json
  src/functionalTest/resources/features/F-001/S-015.td.json
  src/functionalTest/resources/features/F-001/S-016.td.json
  src/functionalTest/resources/features/F-001/S-017.td.json
  src/functionalTest/resources/features/F-001/S-018.td.json
  src/functionalTest/resources/features/F-001/S-019.td.json
  src/functionalTest/resources/features/F-001/S-020.td.json
  src/functionalTest/resources/features/F-001/S-020_Get_Role_Assignments_Search_Query.td.json
  src/functionalTest/resources/features/F-001/S-020_Get_Role_Assignments_Search_Query_Second_ActorId.td.json
  src/functionalTest/resources/features/F-001/S-091.td.json
  src/functionalTest/resources/features/F-001/S-092.td.json
  src/functionalTest/resources/features/F-001/S-097.td.json
  src/functionalTest/resources/features/F-001/S-101.td.json
  src/functionalTest/resources/features/F-001/S-102.td.json
  src/functionalTest/resources/features/F-001/S-109.td.json
  src/functionalTest/resources/features/F-005/S-051.td.json
  src/functionalTest/resources/features/F-005/S-052.td.json
  src/functionalTest/resources/features/F-005/S-054.td.json
  src/functionalTest/resources/features/F-005/S-056.td.json
  src/functionalTest/resources/features/F-005/S-057.td.json
  src/functionalTest/resources/features/F-005/S-058_GetDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-005/S-059.td.json
  src/functionalTest/resources/features/F-006/S-081.td.json
  src/functionalTest/resources/features/F-006/S-082.td.json
  src/functionalTest/resources/features/F-006/S-083.td.json
  src/functionalTest/resources/features/F-006/S-084.td.json
  src/functionalTest/resources/features/F-006/S-085.td.json
  src/functionalTest/resources/features/F-006/S-086.td.json
  src/functionalTest/resources/features/F-006/S-087.td.json
  src/functionalTest/resources/features/F-008/S-103.td.json
  src/functionalTest/resources/features/F-008/S-104.td.json
  src/functionalTest/resources/features/F-008/S-104_Multiple_Role_Creation.td.json
  src/functionalTest/resources/features/F-008/S-105.td.json
  src/functionalTest/resources/features/F-008/S-106.td.json
  src/functionalTest/resources/features/F-008/S-106_Multiple_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-008/S-107.td.json
  src/functionalTest/resources/features/F-008/S-107_Multiple_Case_Role_Creation.td.json
  src/functionalTest/resources/features/F-008/S-108.td.json
  src/functionalTest/resources/features/common/CreationDataBaseForRoleAssignment.td.json
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleAssignmentDeleteResource.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleAssignmentRequestResource.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleAssignmentResource.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtil.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-589

#594 updated the zoned datetime for create timestamp as well
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/Assignment.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/Request.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtil.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/CreatedTimeComparatorTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-594

#603 Swagger documentation update
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-603

#600 updated the zoned datetime for create timestamp
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/Assignment.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/Request.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtil.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/CreatedTimeComparatorTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-600

#611 Adding retry logic to IDAM userinfo call.
  build.gradle
  src/main/java/uk/gov/hmcts/reform/roleassignment/RoleAssignmentApplication.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepository.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-611

#608 Am 1167 bug fixes
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-608

#612 AM-1166 implemented the Caffeine Cache.
  build.gradle
  charts/am-role-assignment-service/Chart.yaml
  charts/am-role-assignment-service/values.aat.template.yaml
  charts/am-role-assignment-service/values.yaml
  src/main/java/uk/gov/hmcts/reform/roleassignment/RoleAssignmentApplication.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepository.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepositoryTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-612

#614 AM-1166 disable caching on aat.
  charts/am-role-assignment-service/values.aat.template.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-614

#619 AM-1171 code coverage of createroles package.
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentService.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentServiceTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-619
