Repository hmcts/am-role-assignment-service, pull requests merged in 2021-12, with the labels that each got.

#1055 updating the substantive flag for TCW and case-allocator case role
  src/functionalTest/resources/features/F-001/S-202_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-001/S-203_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-001/S-204_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-001/S-205_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-001/S-206.td.json
  src/functionalTest/resources/features/F-001/S-206_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-008/S-103.td.json
  src/functionalTest/resources/features/F-008/S-104.td.json
  src/functionalTest/resources/features/F-008/S-104_Multiple_Role_Creation.td.json
  src/functionalTest/resources/features/F-008/S-106.td.json
  src/functionalTest/resources/features/F-008/S-106_Multiple_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-008/S-107.td.json
  src/functionalTest/resources/features/F-008/S-107_Multiple_Case_Role_Creation.td.json
  src/functionalTest/resources/features/F-008/S-201_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-008/S-207.td.json
  src/functionalTest/resources/features/F-008/S-207_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-008/S-208_Org_Role_Creation_For_Requester.td.json
  src/functionalTest/resources/features/F-008/S-209_Org_Role_Creation_For_Requester.td.json
  src/functionalTest/resources/features/F-009/S-172.td.json
  src/functionalTest/resources/features/F-009/S-173.td.json
  src/functionalTest/resources/features/F-009/S-174.td.json
  src/functionalTest/resources/features/F-010/S-190_Multiple_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-010/S-191_Multiple_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-010/S-192_Multiple_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-010/S-193_Multiple_Org_Role_Creation.td.json
  src/main/resources/roleconfig/role_iac.json
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolJudicialCategoryCaseRoleTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/StaffCategoryCaseTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/StaffCategoryOrgRoleTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1055

#1063 additional roles added for divorce jurisdiction
  src/main/resources/roleconfig/role_ccd.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1063

#1066 restore substantive code.
  src/functionalTest/resources/features/F-001/S-202_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-001/S-203_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-001/S-204_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-001/S-205_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-001/S-206.td.json
  src/functionalTest/resources/features/F-001/S-206_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-008/S-103.td.json
  src/functionalTest/resources/features/F-008/S-104.td.json
  src/functionalTest/resources/features/F-008/S-104_Multiple_Role_Creation.td.json
  src/functionalTest/resources/features/F-008/S-106.td.json
  src/functionalTest/resources/features/F-008/S-106_Multiple_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-008/S-107.td.json
  src/functionalTest/resources/features/F-008/S-107_Multiple_Case_Role_Creation.td.json
  src/functionalTest/resources/features/F-008/S-201_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-008/S-207.td.json
  src/functionalTest/resources/features/F-008/S-207_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-008/S-208_Org_Role_Creation_For_Requester.td.json
  src/functionalTest/resources/features/F-008/S-209_Org_Role_Creation_For_Requester.td.json
  src/functionalTest/resources/features/F-009/S-172.td.json
  src/functionalTest/resources/features/F-009/S-173.td.json
  src/functionalTest/resources/features/F-009/S-174.td.json
  src/functionalTest/resources/features/F-010/S-190_Multiple_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-010/S-191_Multiple_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-010/S-192_Multiple_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-010/S-193_Multiple_Org_Role_Creation.td.json
  src/main/resources/roleconfig/role_iac.json
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolJudicialCategoryCaseRoleTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/StaffCategoryCaseTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/StaffCategoryOrgRoleTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1066

#1075 disabling the debug log specially for FTA
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1075

#1076 disabling the fortify step from nightly build
  Jenkinsfile_nightly
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1076
