Repository hmcts/am-role-assignment-service, pull requests merged in 2022-01, with the labels that each got.

#1093 master integration test fix
  src/integrationTest/resources/sql/insert_assignment_records_to_delete.sql
  src/integrationTest/resources/sql/insert_multiple_assignments_to_delete.sql
  src/integrationTest/resources/sql/insert_role_assignment.sql
  src/integrationTest/resources/sql/insert_role_assignment_to_create.sql
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1093

#1083 Update fortify release id and enable fortify scan
  Jenkinsfile_nightly
  config/fortify-client.properties
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1083

#1077 Am 1837
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepository.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1077

#1098 Updated the security util class to avoid member save in JWTconvertor
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/DroolPassAssignmentCreateAndDeleteIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentCreateAndDeleteIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/SecurityUtils.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/oidc/JwtGrantedAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/SecurityUtilsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1098

#1100 Revert "Am 1837"
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepository.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1100

#1097 Fortify fix
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditLogFormatter.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/FilterRequestUtil.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditLogFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/WelcomeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/StaffCategoryOrgRoleTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/FilterRequestUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1097

#1101 testcase
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepository.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepositoryTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1101

#1102 Audit and logging modifications
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/QueryAssignmentIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditEntry.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditLogFormatter.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/LogAudit.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/AuditAspect.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/AuditContext.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/AuditLoggerUtil.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditLogFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/AuditAspectTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/AuditLoggerUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1102

#1103 Error 500 in persistance service class
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/ActorCacheRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/FilterRequestUtil.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/FilterRequestUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1103

#1114 Added a generic exception in persistActorCache for DB querying
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1114

#1115 Modified wrapped errors into 422 errors.
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/FilterRequestUtil.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/FilterRequestUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1115

#1116 catch socket timeout
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestrator.java
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1116

#1124 increased the max pool size
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1124

#1125 Fix sonar smells
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentIntegrationTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/AuditAspectTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/FeatureFlagControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/WelcomeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/data/HistoryEntityTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/model/CaseTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PrepareResponseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/RetrieveDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CCDCaseRolesTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolJudicialCategoryCaseRoleTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/security/IdamRoleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DataStoreApiConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DataStoreApiInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DatastoreFeignClientFallbackTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/health/CcdDataStoreHealthIndicatorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/health/IdamServiceHealthIndicatorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureConditionEvaluationTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/AuditLoggerUtilTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/CorrelationInterceptorUtilTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/FilterRequestUtilTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtilTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/SecurityUtilsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1125
