Repository hmcts/am-role-assignment-service, pull requests merged in 2022-03, with the labels that each got.

#1112 Am specific acess
  src/functionalTest/resources/features/F-011/F-011-Base-Root.td.json
  src/functionalTest/resources/features/F-011/F-011.feature
  src/functionalTest/resources/features/F-011/F-011_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-011/S-210.td.json
  src/functionalTest/resources/features/F-011/S-210_DeleteDataForRoleAssignmentsForOrgRoles.td.json
  src/functionalTest/resources/features/F-011/S-210_DeleteDataForRoleAssignmentsForRequestedRole.td.json
  src/functionalTest/resources/features/F-011/S-210_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-011/S-211.td.json
  src/functionalTest/resources/features/F-011/S-211_Access_Requested.td.json
  src/functionalTest/resources/features/F-011/S-211_DeleteDataForRoleAssignmentsForGrantedRole.td.json
  src/functionalTest/resources/features/F-011/S-211_DeleteDataForRoleAssignmentsForOrgRoles.td.json
  src/functionalTest/resources/features/F-011/S-211_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-011/S-212.td.json
  src/functionalTest/resources/features/F-011/S-212_Access_Requested.td.json
  src/functionalTest/resources/features/F-011/S-212_DeleteDataForRoleAssignmentsForDeniedRole.td.json
  src/functionalTest/resources/features/F-011/S-212_DeleteDataForRoleAssignmentsForOrgRoles.td.json
  src/functionalTest/resources/features/F-011/S-212_Org_Role_Creation.td.json
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/resources/roleconfig/role_iac.json
  src/main/resources/validationrules/iac/common/iac-case-role-validation.drl
  src/main/resources/validationrules/iac/iac-case-role-validation-admin.drl
  src/main/resources/validationrules/iac/iac-case-role-validation-judicial.drl
  src/main/resources/validationrules/iac/iac-case-role-validation-legal-ops.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/SpecificAccessDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1112

#1184 Ignore fortify
  Jenkinsfile_nightly
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1184

#1195 remove actor cache dependency
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/GetActorByIdRoleAssignmentProviderTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/ActorCacheEntity.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/ActorCacheRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/ActorCache.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtil.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/data/ActorCacheEntityTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1195

#1196 liquibase files removal
  liquibase.gradle
  src/main/resources/liquibase.properties
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1196

#1203 upgraded the java chart version
  charts/am-role-assignment-service/Chart.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1203

#1204 removed cve suppression
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1204

#1206 Removing CVE-2018-1258
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1206

#1209 upgrade to gradle 7.4.1
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/BaseTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/BaseTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1209

#1212 cve fix
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1212

#1207 Am 2049 wa test jurisdiction
  charts/am-role-assignment-service/Chart.yaml
  charts/am-role-assignment-service/values.yaml
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/META-INF/kmodule.xml
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_9__wa_bypass_flag_config_tables.sql
  src/main/resources/validationrules/wa/wa-test-jurisdiction-bypass.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/WARoleAssignmentOperationTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1207

#1211 Am 2077 sscs judicial case role validation
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V2_0__sscs_wa_flag_config_tables.sql
  src/main/resources/validationrules/sscs/sscs-case-role-validation-judicial.drl
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1211

#1223 substantive flg script
  src/main/resources/db/migration/V1_10__iac_substantive_flag_config_tables.sql
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1223

#1225 Reverted pitest change
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1225

#1226 Updated poi, poi-ooxml & poi-scratchpad to 5.2.1
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1226

#1234 Cve fix, jackson core version update 2.13.2
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1234

#1227 Unit testing for SSCS roles
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/ChallengedAccessDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolJudicialCategoryCaseRoleTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/SpecificAccessDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/SscsCaseRolesDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/StaffCategoryCaseTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1227

#1235 updated the iac service position in the list
  charts/am-role-assignment-service/Chart.yaml
  charts/am-role-assignment-service/values.yaml
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1235

#1237 2059 SSCS Hearing Roles Drools Unit Tests
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/StaffCategoryOrgRoleTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1237

#1208 Am 2054 hearing roles
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/enums/RoleCategory.java
  src/main/resources/roleconfig/role_sscs.json
  src/main/resources/validationrules/core/organisational-role-mapping-common.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/StaffCategoryOrgRoleTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1208

#1238 added wa services to avoid ccd case load
  src/main/resources/validationrules/core/load-case-data.drl
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1238
