Repository hmcts/am-role-assignment-service, pull requests merged in 2022-08, with the labels that each got.

#1488 RAS:Merge renovate bot pr's
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1488

#1492 RAS:Merge renovate bot pr's
  infrastructure/.terraform-version
  infrastructure/terraform.tf
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1492

#1495 removing code smells
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentService.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1495

#1504 Mutation testing
  build.gradle
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/model/CaseTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/model/PredicateValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureToggleServiceTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1504

#1505 Merge Renovate PR
  docker/database/Dockerfile
  infrastructure/terraform.tf
Labels: ns:am, prd:am, no-changes, rel:am-role-assignment-service-pr-1505

#1470 Adding Special access role to CIVIL
  src/functionalTest/resources/features/F-011/S-210.td.json
  src/main/resources/validationrules/core/specific-access-global.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/SpecificAccessDroolsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1470, no-changes

#1518 Am civil stcw
  src/main/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DataStoreApiFallback.java
  src/main/resources/roleconfig/role_common.json
  src/main/resources/roleconfig/role_iac.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1518

#1516 Add backstage configuration file
  catalog-info.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1516

#1521 Added roles to json filess
  src/main/resources/roleconfig/role_civil.json
  src/main/resources/roleconfig/role_common.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1521
