Repository hmcts/am-role-assignment-service, pull requests merged in 2022-06, with the labels that each got.

#1395 updated the civil role names
  src/main/resources/roleconfig/role_common.json
  src/main/resources/roleconfig/role_iac.json
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/AllServicesOrgRoleTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1395

#1400 updated the civil role names
  src/main/resources/roleconfig/role_common.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1400

#1403 updated the global roles for flexibility
  src/main/resources/roleconfig/role_common.json
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/AllServicesOrgRoleTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1403

#1412 2206 sonar issues
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/DroolPassAssignmentCreateAndDeleteIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/createroles/CreateRoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/AuditLoggerUtil.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1412

#1423 removed the process and reference check for delete requests
  src/main/resources/validationrules/core/specific-access-global.drl
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1423

#1425 revert the ben manes version
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1425

#1427 2206 additional sonar issues
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/AuditLoggerUtil.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1427

#1430 Upgrade base java chart
  charts/am-role-assignment-service/Chart.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1430

#1447 Suppression added
  charts/am-role-assignment-service/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1447
