Repository hmcts/am-role-assignment-service, pull requests merged in 2022-07, with the labels that each got.

#1455 Suppression for log4j
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1455

#1457 Make use of collections List.of() and Set.of()
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/CreateRoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/DeleteRoleAssignmentProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/DroolPassAssignmentCreateAndDeleteIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/QueryAssignmentIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentCreateAndDeleteIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/SwaggerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/ApplicationParamsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentEntitySpecificationsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/security/IdamRoleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/oidc/JwtGrantedAuthoritiesConverterTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1457

#1442 Added a new caseType for ccd civil case roles
  src/main/resources/roleconfig/role_ccd.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1442

#1471 moved the hearing roles to common file
  src/main/resources/roleconfig/role_common.json
  src/main/resources/roleconfig/role_sscs.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1471

#1466 RAS :WA_R2 - Remove the old DB flags
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/CreateRoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/DeleteRoleAssignmentProviderTest.java
  src/functionalTest/resources/features/F-000/F-000.feature
  src/functionalTest/resources/features/F-000/S-111.td.json
  src/functionalTest/resources/features/F-000/S-112.td.json
  src/functionalTest/resources/features/F-000/S-113.td.json
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V2_2__iac_flag_deletion.sql
  src/main/resources/validationrules/iac/iac-case-role-validation-legal-ops.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/FeatureFlagControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/IacStaffCaseRoleTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/PersistenceUtilTest.java
  src/test/resources/attributesCase.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1466

#1476 RAS:Remove CCD case role support feature flag
  charts/am-role-assignment-service/Chart.yaml
  charts/am-role-assignment-service/values.preview.template.yaml
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-001/S-114.td.json
  src/functionalTest/resources/features/F-001/S-115.td.json
  src/functionalTest/resources/features/F-001/S-116.td.json
  src/functionalTest/resources/features/F-001/S-117.td.json
  src/functionalTest/resources/features/F-001/S-119.td.json
  src/functionalTest/resources/features/F-001/S-122.td.json
  src/functionalTest/resources/features/F-002/F-002.feature
  src/functionalTest/resources/features/F-002/S-035.td.json
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V2_3__ccd_1_0_flag_deletion.sql
  src/main/resources/validationrules/ccd/ccd-case-role-validation.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CCDCaseRolesTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1476

#1482 Revert "RAS:Remove CCD case role support feature flag"
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-001/S-114.td.json
  src/functionalTest/resources/features/F-001/S-115.td.json
  src/functionalTest/resources/features/F-001/S-116.td.json
  src/functionalTest/resources/features/F-001/S-117.td.json
  src/functionalTest/resources/features/F-001/S-119.td.json
  src/functionalTest/resources/features/F-001/S-122.td.json
  src/functionalTest/resources/features/F-002/F-002.feature
  src/functionalTest/resources/features/F-002/S-035.td.json
  src/main/resources/validationrules/ccd/ccd-case-role-validation.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CCDCaseRolesTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1482

#1483 ccd flag add
  src/main/resources/db/migration/V2_4__ccd_1_0_flag_add.sql
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1483
