Repository hmcts/am-role-assignment-service, pull requests merged in 2022-09, with the labels that each got.

#1524 specific and challenged access changes
  src/main/resources/META-INF/kmodule.xml
  src/main/resources/roleconfig/role_common.json
  src/main/resources/validationrules/core/specific-access-global.drl
  src/main/resources/validationrules/privatelaw/privatelaw-case-role-validation-judicial.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CaseRolesDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/ChallengedAccessDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/SpecificAccessDroolsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1524

#1528 AM-2343 Suppressing LD SnakeYaml CVE
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1528

#1465 adding jurisdiction to IA case roles
  src/main/resources/roleconfig/role_iac.json
Labels: question, ns:am, prd:am, rel:am-role-assignment-service-pr-1465

#1537 Suppress new versions of SnakeYaml CVE
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1537

#1538 Am 2363 conflictroles
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/ConflictOfInterestTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1538

#1508 RAS:FAMILY_PRIVATE_LAW_WA Staff Org role drool rule creation in ORM
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/enums/RoleCategory.java
  src/main/resources/META-INF/kmodule.xml
  src/main/resources/roleconfig/role_civil.json
  src/main/resources/roleconfig/role_common.json
  src/main/resources/roleconfig/role_privatelaw.json
  src/main/resources/validationrules/core/organisational-role-mapping-common.drl
  src/main/resources/validationrules/core/specific-access-global.drl
  src/main/resources/validationrules/privatelaw/privatelaw-case-role-validation-judicial.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CaseRolesDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/ChallengedAccessDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/ConflictOfInterestTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/SpecificAccessDroolsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1508

#1554 2380_CVE
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1554

#1565 Suppressing snakeyaml additional CVE
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1565
