Repository hmcts/am-role-assignment-service, pull requests merged in 2022-11, with the labels that each got.

#1614 fix fortify
  .env
  broker-compose.yml
  charts/am-role-assignment-service/values.preview.template.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1614

#1609 global rule for specific roles
  src/main/resources/roleconfig/role_common.json
  src/main/resources/validationrules/iac/common/iac-specific-access.drl
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1609

#1623 fortify scan fix
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/AuthCheckerConfiguration.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1623

#1626 CIVIL_CTSC - Add CTSC category for Civil service
  src/main/resources/roleconfig/role_civil.json
  src/main/resources/roleconfig/role_common.json
  src/main/resources/roleconfig/role_privatelaw.json
  src/main/resources/validationrules/civil/civil-specific-access.drl
  src/main/resources/validationrules/core/challenged-access-global.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/AllServicesOrgRoleTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/ChallengedAccessDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/SpecificAccessDroolsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1626

#1651 Update Jenkinsfile_CNP
  Jenkinsfile_CNP
  Jenkinsfile_nightly
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1651

#1652 Nightly Build failure -30/11/2022
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1652
