Repository hmcts/am-role-assignment-service, pull requests merged in 2022-02, with the labels that each got.

#1128 Removed jcenter
  build.gradle
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1128

#1134 disabling the dev super user role
  src/main/resources/META-INF/kmodule.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1134

#1144 Catch for bad request error in get user info method
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/advice/RoleAssignmentControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/advice/exception/UnauthorizedException.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepository.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/advice/RoleAssignmentControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepositoryTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1144

#1142 New json contains fxn
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/RasPostgreSQL9Dialect.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentEntitySpecifications.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_6__adding_new_indexes.sql
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1142

#1148 Revert "New json contains fxn"
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/RasPostgreSQL9Dialect.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/data/RoleAssignmentEntitySpecifications.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_6__adding_new_indexes.sql
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1148

#1150 bumping the chart version
  charts/am-role-assignment-service/Chart.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1150

#1135 Add new key 'responseTime' in the Audit logs for RAS app
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditEntry.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditInterceptor.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditLogFormatter.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/AuditAspect.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/AuditContext.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/DBFlagConfigurtion.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditLogFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/aop/AuditAspectTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1135

#1152 remove max life on connection pool
  build.gradle
  config/owasp/suppressions.xml
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1152

#1158 Increase the application delay
  charts/am-role-assignment-service/Chart.yaml
  charts/am-role-assignment-service/values.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1158

#1157 Updated the history table index
  src/main/resources/db/migration/V1_7__adding_new_history_indexe.sql
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1157

#1156 1948 fta challenged access
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/functionalTest/java/uk/gov/hmcts/reform/roleassignment/befta/RoleAssignmentTestAutomationAdapter.java
  src/functionalTest/resources/features/F-012/F-012-Base-Root.td.json
  src/functionalTest/resources/features/F-012/F-012.feature
  src/functionalTest/resources/features/F-012/F-012_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-012/S-213.td.json
  src/functionalTest/resources/features/F-012/S-213_DeleteDataForRoleAssignmentsForChallengedAccess.td.json
  src/functionalTest/resources/features/F-012/S-213_DeleteDataForRoleAssignmentsForOrgRoles.td.json
  src/functionalTest/resources/features/F-012/S-213_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-012/S-214.td.json
  src/functionalTest/resources/features/F-012/S-214_DeleteDataForRoleAssignmentsForChallengedAccess.td.json
  src/functionalTest/resources/features/F-012/S-214_DeleteDataForRoleAssignmentsForOrgRoles.td.json
  src/functionalTest/resources/features/F-012/S-214_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-012/S-215.td.json
  src/functionalTest/resources/features/F-012/S-215_DeleteDataForRoleAssignmentsForChallengedAccess.td.json
  src/functionalTest/resources/features/F-012/S-215_DeleteDataForRoleAssignmentsForOrgRoles.td.json
  src/functionalTest/resources/features/F-012/S-215_Org_Role_Creation.td.json
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/ChallengedAccessDroolsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1156

#1160 Exception handling for idam service call
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/QueryAssignmentIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentCreateAndDeleteIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/SecurityEndpointFilter.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/advice/RoleAssignmentControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/advice/exception/UnauthorizedException.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/SecurityUtils.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/advice/RoleAssignmentControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/oidc/IdamRepositoryTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1160

#1161 coverage tests
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/advice/exception/UnauthorizedException.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/SecurityUtils.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/getroles/RetrieveRoleAssignmentOrchestratorTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1161

#1159 New ccd case roles for adoption
  src/main/resources/roleconfig/role_ccd.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1159

#1171 CVE fix
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1171

#1163 Added methods execution time to be monitored
  lib/AI-Agent.xml
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/RetrieveDataService.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1163

#1173 Added a mock for the logger test case
  src/main/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditInterceptor.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/auditlog/AuditInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureConditionEvaluationTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1173

#1172 New ccd roles for civil
  src/main/resources/roleconfig/role_ccd.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1172

#1174 new role for support for private law
  src/main/resources/roleconfig/role_ccd.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1174

#1175 Updated the chart version
  charts/am-role-assignment-service/Chart.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1175

#1111 Am challenged access
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/functionalTest/java/uk/gov/hmcts/reform/roleassignment/befta/RoleAssignmentTestAutomationAdapter.java
  src/functionalTest/resources/features/F-012/F-012-Base-Root.td.json
  src/functionalTest/resources/features/F-012/F-012.feature
  src/functionalTest/resources/features/F-012/F-012_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-012/S-213.td.json
  src/functionalTest/resources/features/F-012/S-213_DeleteDataForRoleAssignmentsForChallengedAccess.td.json
  src/functionalTest/resources/features/F-012/S-213_DeleteDataForRoleAssignmentsForOrgRoles.td.json
  src/functionalTest/resources/features/F-012/S-213_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-012/S-214.td.json
  src/functionalTest/resources/features/F-012/S-214_DeleteDataForRoleAssignmentsForChallengedAccess.td.json
  src/functionalTest/resources/features/F-012/S-214_DeleteDataForRoleAssignmentsForOrgRoles.td.json
  src/functionalTest/resources/features/F-012/S-214_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-012/S-215.td.json
  src/functionalTest/resources/features/F-012/S-215_DeleteDataForRoleAssignmentsForChallengedAccess.td.json
  src/functionalTest/resources/features/F-012/S-215_DeleteDataForRoleAssignmentsForOrgRoles.td.json
  src/functionalTest/resources/features/F-012/S-215_Org_Role_Creation.td.json
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/enums/FeatureFlagEnum.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/JacksonUtils.java
  src/main/resources/META-INF/kmodule.xml
  src/main/resources/db/migration/V1_8__iac_specific_challenged_flag_config_tables.sql
  src/main/resources/roleconfig/role_iac.json
  src/main/resources/validationrules/core/case-allocator-global.drl
  src/main/resources/validationrules/iac/common/iac-case-role-validation.drl
  src/main/resources/validationrules/iac/iac-case-role-validation-admin.drl
  src/main/resources/validationrules/iac/iac-case-role-validation-judicial.drl
  src/main/resources/validationrules/iac/iac-case-role-validation-legal-ops.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/ChallengedAccessDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1111
