Repository hmcts/am-role-assignment-service, pull requests merged in 2022-04, with the labels that each got.

#1241 Revert "added wa services to avoid ccd case load"
  src/main/resources/validationrules/core/load-case-data.drl
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1241

#1240 Unit testing for latest Staff Org Roles and Case Role
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/SscsCaseRolesDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/StaffCategoryOrgRoleTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1240

#1254 Add combine pull request action
  .github/workflows/combine-prs.yml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1254

#1255 challenged access role endtime corrections
  src/main/resources/validationrules/iac/iac-case-role-validation-admin.drl
  src/main/resources/validationrules/iac/iac-case-role-validation-judicial.drl
  src/main/resources/validationrules/iac/iac-case-role-validation-legal-ops.drl
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1255

#1259 Cve fix
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1259

#1252 fixed junits for drool tests
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/ChallengedAccessDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/SpecificAccessDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/SscsCaseRolesDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/helper/TestDataBuilder.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1252

#1278 whitelisting service missing terminal
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1278

#1290 whitelisted hmc service
  charts/am-role-assignment-service/Chart.yaml
  charts/am-role-assignment-service/values.yaml
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1290
