Repository hmcts/am-role-assignment-service, pull requests merged in 2022-05, with the labels that each got.

#1186 Query Search Validations
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/QueryAssignmentIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentCreateAndDeleteIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/JacksonUtils.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtil.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/versions/V1.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/deleteroles/DeleteRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1186

#1197 role segrigation with roletype
  src/functionalTest/resources/features/F-008/S-103.td.json
  src/functionalTest/resources/features/F-008/S-104.td.json
  src/functionalTest/resources/features/F-008/S-104_Multiple_Role_Creation.td.json
  src/functionalTest/resources/features/F-008/S-106_Multiple_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-009/S-172.td.json
  src/functionalTest/resources/features/F-009/S-173.td.json
  src/functionalTest/resources/features/F-009/S-174.td.json
  src/functionalTest/resources/features/F-010/S-190_Multiple_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-010/S-191_Multiple_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-010/S-192_Multiple_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-010/S-193_Multiple_Org_Role_Creation.td.json
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/Role.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleConfig.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleConfigRole.java
  src/main/resources/db/migration/V2_1__iac_tcw_organisation_substantive.sql
  src/main/resources/roleconfig/role_ccd.json
  src/main/resources/roleconfig/role_common.json
  src/main/resources/roleconfig/role_iac.json
  src/main/resources/roleconfig/role_sscs.json
  src/main/resources/validationrules/core/role-assignment-config-validation.drl
  src/main/resources/validationrules/iac/iac-case-role-validation-legal-ops.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/StaffCategoryOrgRoleTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1197

#1328 Combine prs branch
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1328

#1343 2156 - fix nightly build
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1343

#1304 Refactoring and adding specific Access for SSCS
  src/main/resources/validationrules/core/case-allocator-global.drl
  src/main/resources/validationrules/core/challenged-access-global.drl
  src/main/resources/validationrules/core/conflict-of-interest-global.drl
  src/main/resources/validationrules/core/specific-access-global.drl
  src/main/resources/validationrules/iac/common/iac-case-role-validation.drl
  src/main/resources/validationrules/iac/iac-case-role-validation-judicial.drl
  src/main/resources/validationrules/iac/iac-case-role-validation-legal-ops.drl
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1304

#1365 whitelisting ccd_case_disposer app
  charts/am-role-assignment-service/Chart.yaml
  charts/am-role-assignment-service/values.yaml
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1365

#1374 CVE-2016-1000027 suppression
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1374

#1378 Disable nightly mutation tests
  Jenkinsfile_nightly
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1378

#1289 AM-2134: Upgrading to Java 17
  Dockerfile
  build.gradle
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/ConflictOfInterestTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1289

#1383 AM_2185 : New roles added for Civil staff Org roles
  src/main/resources/roleconfig/role_civil.json
  src/main/resources/roleconfig/role_common.json
  src/main/resources/roleconfig/role_iac.json
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/AllServicesOrgRoleTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1383

#1376 SSCS case role update
  config/owasp/suppressions.xml
  infrastructure/.terraform-version
  src/main/resources/roleconfig/role_sscs.json
  src/main/resources/validationrules/core/load-case-data.drl
  src/main/resources/validationrules/sscs/sscs-case-role-validation-judicial.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/ConflictOfInterestTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/SscsCaseRolesDroolsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1376

#1389 added ccd case disposer for deletion of case roles
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/JacksonUtils.java
  src/main/resources/validationrules/ccd/ccd-case-role-validation.drl
  src/main/resources/validationrules/core/load-case-data.drl
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1389

#1390 ccd_data role issue fix
  src/main/resources/validationrules/core/load-case-data.drl
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1390
