Repository hmcts/am-role-assignment-service, pull requests merged in 2023-07, with the labels that each got.

#1863 EMPLOYMENT_WA_1_0 Release/feature branch
  build.gradle
  src/main/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DataStoreApiFallback.java
  src/main/resources/META-INF/kmodule.xml
  src/main/resources/roleconfig/role_common.json
  src/main/resources/roleconfig/role_employment.json
  src/main/resources/roleconfig/role_iac.json
  src/main/resources/roleconfig/role_sscs.json
  src/main/resources/validationrules/core/specific-access-global.drl
  src/main/resources/validationrules/employment/employment-case-role-validation-judicial.drl
  src/main/resources/validationrules/employment/employment-case-role-validation-legal-ops.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CaseRolesDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/ChallengedAccessDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/SpecificAccessDroolsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1863

#1925 AM-2846: For preview pipelines enable cleanup of helm releases
  Jenkinsfile_CNP
  src/functionalTest/resources/features/F-015/S-223_Org_Role_Creation.td.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1925

#1924 AM-2841: Add jurisdiction filter to system user hearings role (sscs & private law)
  src/main/resources/validationrules/core/organisational-role-mapping-common.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/AllServicesOrgRoleTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1924

#1913 AM-2823-CVE-2023-20883 FIX
  build.gradle
  charts/am-role-assignment-service/values.preview.template.yaml
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, keep-helm, rel:am-role-assignment-service-pr-1913

#1928 AM-2852 CVE-2023-34981 tomcat upgrade 9.0.76
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1928

#1918 AM-2834: Plug dates into BEFTA test files to replace hard coded dates
  src/functionalTest/java/uk/gov/hmcts/reform/roleassignment/befta/RoleAssignmentTestAutomationAdapter.java
  src/functionalTest/resources/features/F-001/S-008.td.json
  src/functionalTest/resources/features/F-001/S-009.td.json
  src/functionalTest/resources/features/F-001/S-010.td.json
  src/functionalTest/resources/features/F-001/S-101_Response_without_time.td.json
  src/functionalTest/resources/features/F-001/S-101_Role_Request_without_time.td.json
  src/functionalTest/resources/features/F-001/S-202_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-001/S-203_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-001/S-204_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-001/S-205_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-001/S-206_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-008/S-106_Multiple_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-008/S-201_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-008/S-207_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-008/S-208_Org_Role_Creation_For_Requester.td.json
  src/functionalTest/resources/features/F-008/S-209_Org_Role_Creation_For_Requester.td.json
  src/functionalTest/resources/features/F-010/S-190_Multiple_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-010/S-191_Multiple_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-010/S-192_Multiple_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-010/S-193_Multiple_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-011/S-210.td.json
  src/functionalTest/resources/features/F-011/S-210.v1_1.td.json
  src/functionalTest/resources/features/F-011/S-210_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-011/S-211.td.json
  src/functionalTest/resources/features/F-011/S-211_Access_Requested.td.json
  src/functionalTest/resources/features/F-011/S-211_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-011/S-212.td.json
  src/functionalTest/resources/features/F-011/S-212_Access_Requested.td.json
  src/functionalTest/resources/features/F-011/S-212_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-011/S-231.td.json
  src/functionalTest/resources/features/F-011/S-231.v1_1.td.json
  src/functionalTest/resources/features/F-011/S-231_Access_Requested.td.json
  src/functionalTest/resources/features/F-011/S-231_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-011/S-231_v1_Access_Requested.td.json
  src/functionalTest/resources/features/F-011/S-232.td.json
  src/functionalTest/resources/features/F-011/S-232.v1_1.td.json
  src/functionalTest/resources/features/F-011/S-232_Access_Requested.td.json
  src/functionalTest/resources/features/F-011/S-232_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-012/S-213.td.json
  src/functionalTest/resources/features/F-012/S-213_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-012/S-214.td.json
  src/functionalTest/resources/features/F-012/S-214_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-012/S-215.td.json
  src/functionalTest/resources/features/F-012/S-215_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-013/S-216.td.json
  src/functionalTest/resources/features/F-013/S-216_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-014/S-219.td.json
  src/functionalTest/resources/features/F-014/S-219_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-014/S-220.td.json
  src/functionalTest/resources/features/F-014/S-220_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-015/S-223_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-015/S-224_Org_Role_Creation.td.json
  src/functionalTest/resources/features/common/RequestedRole.td.json
  src/functionalTest/resources/features/common/ResponseRequestedRole.td.json
  src/functionalTest/resources/features/common/ResponseRequestedRoleWithoutSubstantive.td.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1918

#1931 AM-2728 CVE-2022-1471 snakeyaml 2.0, springBoot 2.7.12, launchDarklyS…
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1931

#1933 AM-2860 Remove Github Autoupdate
  .github/workflows/autoupdate.yml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1933

#1888 AM-2765 SSCS_WA - Specific and Challenged access
  src/main/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DataStoreApiFallback.java
  src/main/resources/roleconfig/role_common.json
  src/main/resources/validationrules/core/specific-access-global.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/ChallengedAccessDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/SpecificAccessDroolsTest.java
Labels: ns:am, prd:am, no-changes, rel:am-role-assignment-service-pr-1888

#1934 AM-2762 SSCS_WA enable SSCS service - Moving regional-centre-team-lea…
  src/main/resources/roleconfig/role_common.json
  src/main/resources/roleconfig/role_employment.json
  src/main/resources/roleconfig/role_sscs.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1934

#1887 AM-2764 SSCS_WA - CASE role validation
  src/main/resources/roleconfig/role_common.json
  src/main/resources/roleconfig/role_employment.json
  src/main/resources/roleconfig/role_sscs.json
  src/main/resources/validationrules/sscs/sscs-case-role-validation-judicial.drl
  src/main/resources/validationrules/sscs/sscs-case-role-validation-legal-ops.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CaseRolesDroolsTest.java
Labels: ns:am, prd:am, no-changes, rel:am-role-assignment-service-pr-1887

#1930 SSCS_WA_1_0:WA address review comments
  src/main/resources/roleconfig/role_common.json
  src/main/resources/roleconfig/role_sscs.json
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/AllServicesOrgRoleTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1930

#1935 AM-2738 Nightly build slack messaging removed
  Jenkinsfile_nightly
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1935

#1937 COT-410 update FPL allocated-judge to be substantive
  src/main/resources/roleconfig/role_common.json
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CaseRolesDroolsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1937

#1938 AM-2851 CVE-2023-2976 guava 32.0.1-jre, launchDarklySdk 5.10.9, suppr…
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1938

#1932 SSCS_WA_1_0 Release/feature branch
  src/main/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DataStoreApiFallback.java
  src/main/resources/roleconfig/role_common.json
  src/main/resources/roleconfig/role_employment.json
  src/main/resources/roleconfig/role_sscs.json
  src/main/resources/validationrules/core/specific-access-global.drl
  src/main/resources/validationrules/sscs/sscs-case-role-validation-judicial.drl
  src/main/resources/validationrules/sscs/sscs-case-role-validation-legal-ops.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/AllServicesOrgRoleTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CaseRolesDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/ChallengedAccessDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/SpecificAccessDroolsTest.java
Labels: ns:am, prd:am, no-changes, keep-helm, rel:am-role-assignment-service-pr-1932

#1944 AM-2866 - ST_CIC_WA: WA address review comments
  src/main/resources/roleconfig/role_common.json
  src/main/resources/roleconfig/role_iac.json
  src/main/resources/roleconfig/role_sscs.json
  src/main/resources/roleconfig/role_stcic.json
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/AllServicesOrgRoleTest.java
Labels: ns:am, prd:am, no-changes, rel:am-role-assignment-service-pr-1944

#1945 AM-2870: Create case allocator system role for public law
  charts/am-role-assignment-service/Chart.yaml
  charts/am-role-assignment-service/values.yaml
  src/main/resources/application.yaml
  src/main/resources/roleconfig/role_common.json
  src/main/resources/validationrules/core/organisational-role-mapping-common.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/AllServicesOrgRoleTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1945

#1946 AM-2876 Checkstyle Code Formatting for uk.gov.hmcts.java 0.12.43
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/CreateRoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/DeleteRoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/GetActorByIdRoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/GetRoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/SearchQueryRoleAssignmentProviderTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PageHolder.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestrator.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1946

#1951 COT-433:WA FPL new hearing-legal-advisor case role
  src/main/resources/roleconfig/role_common.json
  src/main/resources/validationrules/publiclaw/publiclaw-case-role-validation-legal-ops.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CaseRolesDroolsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1951

#1955 AM-2878 FTA report link missing in Master pipelines - publishHTML sec…
  Jenkinsfile_CNP
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1955

#1936 AM-2861: Add caseworker-privatelaw-cafcass-cymru to role config
  src/main/resources/roleconfig/role_common.json
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/AllServicesOrgRoleTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1936

#1957 AM-2888 CVE-2023-34034 Suppression
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1957
