Repository hmcts/am-role-assignment-service, pull requests merged in 2023-02, with the labels that each got.

#1762 Dependency Check
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1762

#1763 reverting ccd case roles for Barrister and Intervener
  src/main/resources/roleconfig/role_ccd.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1763

#1767 ccd case roles for Barrister and Intervener
  src/main/resources/roleconfig/role_ccd.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1767

#1779 removing depricate infra vars
  infrastructure/variables.tf
Labels: ns:am, prd:am, no-changes, rel:am-role-assignment-service-pr-1779

#1778 specific-access-denied fro self
  src/main/resources/validationrules/core/specific-access-global.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/SpecificAccessDroolsTest.java
Labels: ns:am, prd:am, no-changes, rel:am-role-assignment-service-pr-1778

#1765 PrivateLaw - FTA scenario identification for Case roles
  src/functionalTest/resources/features/F-011/F-011.feature
  src/functionalTest/resources/features/F-012/F-012.feature
  src/functionalTest/resources/features/F-014/F-014-Base-Root.td.json
  src/functionalTest/resources/features/F-014/F-014.feature
  src/functionalTest/resources/features/F-014/F-014_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-014/S-219.td.json
  src/functionalTest/resources/features/F-014/S-219_DeleteDataForRoleAssignmentsForChallengedAccess.td.json
  src/functionalTest/resources/features/F-014/S-219_DeleteDataForRoleAssignmentsForOrgRoles.td.json
  src/functionalTest/resources/features/F-014/S-219_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-014/S-220.td.json
  src/functionalTest/resources/features/F-014/S-220_DeleteDataForRoleAssignmentsForChallengedAccess.td.json
  src/functionalTest/resources/features/F-014/S-220_DeleteDataForRoleAssignmentsForOrgRoles.td.json
  src/functionalTest/resources/features/F-014/S-220_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-015/F-015-Base-Root.td.json
  src/functionalTest/resources/features/F-015/F-015.feature
  src/functionalTest/resources/features/F-015/F-015_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-015/S-221.td.json
  src/functionalTest/resources/features/F-015/S-221_DeleteDataForRoleAssignmentsForOrgRoles.td.json
  src/functionalTest/resources/features/F-015/S-221_DeleteDataForRoleAssignmentsForRequestedRole.td.json
  src/functionalTest/resources/features/F-015/S-221_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-015/S-222.td.json
  src/functionalTest/resources/features/F-015/S-222_DeleteDataForRoleAssignmentsForOrgRoles.td.json
  src/functionalTest/resources/features/F-015/S-222_DeleteDataForRoleAssignmentsForRequestedRole.td.json
  src/functionalTest/resources/features/F-015/S-222_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-015/S-223.td.json
  src/functionalTest/resources/features/F-015/S-223_DeleteDataForRoleAssignmentsForOrgRoles.td.json
  src/functionalTest/resources/features/F-015/S-223_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-015/S-224.td.json
  src/functionalTest/resources/features/F-015/S-224_DeleteDataForRoleAssignmentsForOrgRoles.td.json
  src/functionalTest/resources/features/F-015/S-224_Org_Role_Creation.td.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1765

#1803 Swagger not working
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1803

#1788 FTA for PRL without Specific Access
  src/functionalTest/resources/features/F-015/F-015.feature
  src/functionalTest/resources/features/F-015/S-221.td.json
  src/functionalTest/resources/features/F-015/S-221_DeleteDataForRoleAssignmentsForOrgRoles.td.json
  src/functionalTest/resources/features/F-015/S-221_DeleteDataForRoleAssignmentsForRequestedRole.td.json
  src/functionalTest/resources/features/F-015/S-221_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-015/S-222.td.json
  src/functionalTest/resources/features/F-015/S-222_DeleteDataForRoleAssignmentsForOrgRoles.td.json
  src/functionalTest/resources/features/F-015/S-222_DeleteDataForRoleAssignmentsForRequestedRole.td.json
  src/functionalTest/resources/features/F-015/S-222_Org_Role_Creation.td.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1788

#1792 RAS:civil hearing roles
  src/main/resources/roleconfig/role_common.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1792

#1804 Fix RAS warnings
  Jenkinsfile_CNP
  src/main/resources/application.yaml
  src/main/resources/config.properties
  src/main/resources/validationrules/civil/common/civil-specific-access.drl
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1804
