Repository hmcts/am-role-assignment-service, pull requests merged in 2023-08, with the labels that each got.

#1962 AM-2888 CVE-2023-34034 Fix spring-security upgraded 5.7.10
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1962

#1956 AM-2886 AM-2887 updated case role value to substantive true
  src/main/resources/roleconfig/role_common.json
  src/main/resources/roleconfig/role_sscs.json
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CaseRolesDroolsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1956

#1963 Cot 434 prl exc record case type
  src/main/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DataStoreApiFallback.java
  src/main/resources/roleconfig/role_common.json
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/AllServicesOrgRoleTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolBase.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1963

#1965 Upgrade: java-logging 6.0.1
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1965

#1922 Am 2820 hmc iac org roles
  src/main/resources/roleconfig/role_common.json
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/AllServicesOrgRoleTest.java
Labels: ns:am, prd:am, keep-helm, rel:am-role-assignment-service-pr-1922

#1968 COT-463 update FPL case role classification
  src/main/resources/roleconfig/role_common.json
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CaseRolesDroolsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1968

#1979 10112 Session Management Response Identified ignored added
  audit.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1979
