Repository hmcts/am-role-assignment-service, pull requests merged in 2023-06, with the labels that each got.

#1905 AM-2714:STS_CIC_WA - adding ST_CIC into roles
  src/main/resources/roleconfig/role_common.json
  src/main/resources/roleconfig/role_iac.json
  src/main/resources/roleconfig/role_specialtribunals.json
  src/main/resources/roleconfig/role_sscs.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1905

#1904 Am 2716 st cic wa mapping rules staff
  src/main/resources/roleconfig/role_common.json
  src/main/resources/roleconfig/role_specialtribunals.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1904

#1908 Am 2721 case role validation drools staff judiciary
  src/main/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DataStoreApiFallback.java
  src/main/resources/META-INF/kmodule.xml
  src/main/resources/roleconfig/role_common.json
  src/main/resources/roleconfig/role_specialtribunals.json
  src/main/resources/roleconfig/role_sscs.json
  src/main/resources/validationrules/specialtribunals/specialtribunals-case-role-validation-judicial.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CaseRolesDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolBase.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1908

#1906 Am 2614 case roles fix
  src/main/resources/roleconfig/role_employment.json
  src/main/resources/validationrules/employment/employment-case-role-validation-judicial.drl
  src/main/resources/validationrules/employment/employment-case-role-validation-legal-ops.drl
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1906

#1889 AM-2611 ET WA Specific Challenged Access - extra test cases
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/ChallengedAccessDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/SpecificAccessDroolsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1889

#1910 AM-2823-CVE-2023-20883 Suppression
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1910

#1909 Am 2722 st cic specific challenged access staff judiciary
  src/main/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DataStoreApiFallback.java
  src/main/resources/META-INF/kmodule.xml
  src/main/resources/roleconfig/role_common.json
  src/main/resources/roleconfig/role_stcic.json
  src/main/resources/validationrules/core/specific-access-global.drl
  src/main/resources/validationrules/stcic/stcic-case-role-validation-judicial.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/SpecificAccessDroolsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1909

#1917 AM-2831 additional code review changes for #1863
  build.gradle
  src/main/resources/roleconfig/role_employment.json
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CaseRolesDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolBase.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1917

#1915 AM-2831 Code Review Changes For #1863
  build.gradle
  config/owasp/suppressions.xml
  src/main/resources/roleconfig/role_common.json
  src/main/resources/roleconfig/role_employment.json
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CaseRolesDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolBase.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1915

#1921 AM-2839 CVE-2023-35116 Suppression
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1921

#1926 AM-2851 CVE-2023-2976 and AM-2852 CVE-2023-34981 Suppression
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1926

#1920 AM-2776 CVE-2023-20863 spring framework upgrade 5.3.27
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1920
