Repository hmcts/am-role-assignment-service, pull requests merged in 2023-05, with the labels that each got.

#1884 AM-2786 CVE-2023-20873 spring-cloud-starter-bootstrap upgraded 3.0.6 …
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1884

#1859 AM-2614 ET_WA - Add CASE role validation drool rules in RAS applicati…
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DataStoreApiFallback.java
  src/main/resources/META-INF/kmodule.xml
  src/main/resources/roleconfig/role_common.json
  src/main/resources/roleconfig/role_employment.json
  src/main/resources/roleconfig/role_iac.json
  src/main/resources/roleconfig/role_sscs.json
  src/main/resources/validationrules/employment/employment-case-role-validation-judicial.drl
  src/main/resources/validationrules/employment/employment-case-role-validation-legal-ops.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CaseRolesDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolBase.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1859

#1854 Am 2611 specific challenged validation drools rules judiciary
  src/main/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DataStoreApiFallback.java
  src/main/resources/roleconfig/role_common.json
  src/main/resources/validationrules/core/specific-access-global.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/ChallengedAccessDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/SpecificAccessDroolsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1854

#1896 AM-2639 Adjust swagger config in PR-1785
  README.md
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/Swagger2SpringBoot.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/WelcomeControllerTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1896

#1900 nightly cron timing corrected
  Jenkinsfile_nightly
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1900

#1902 AM-2639 Adjust primary springBoot version in PR-1785
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1902

#1785 2517 spring boot upgrade
  README.md
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/CreateRoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/DeleteRoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/GetActorByIdRoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/GetRoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/SearchQueryRoleAssignmentProviderTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/FeatureFlagController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/CreateAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/GetAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleAssignmentDeleteResource.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleAssignmentRequestResource.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/RoleAssignmentResource.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/oidc/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/Swagger2SpringBoot.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/WelcomeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/oidc/JwtGrantedAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/util/AuditLoggerUtilTest.java
Labels: ns:am, prd:am, no-changes, rel:am-role-assignment-service-pr-1785

#1894 Am 2797 publish swagger docs
  .github/workflows/swagger.yml
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/config/SwaggerPublisher.java
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1894
