Repository hmcts/am-role-assignment-service, pull requests merged in 2023-01, with the labels that each got.

#1703 RAS-Nightly Build Failed
  src/functionalTest/resources/features/F-001/S-008.td.json
  src/functionalTest/resources/features/common/RequestedRole.td.json
  src/smokeTest/resources/create_request_body.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1703

#1672 IAC_CTSC - Add CTSC category for IAC service
  src/main/resources/roleconfig/role_common.json
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/ChallengedAccessDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/SpecificAccessDroolsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1672

#1549 change the apache client to okhttp client
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1549

#1715 Suppress CVE-2021-4277
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1715

#1721 public law judicial case role changes
  src/main/resources/validationrules/publiclaw/publiclaw-case-role-validation-judicial.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CaseRolesDroolsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1721

#1631 2462 public law special access
  src/main/resources/roleconfig/role_common.json
  src/main/resources/validationrules/publiclaw/publiclaw-case-role-validation-judicial.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CaseRolesDroolsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1631

#1603 PUBLIC_LAW - Add new STAFF and JUDICIAL roles configurations in RAS application
  src/main/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DataStoreApiFallback.java
  src/main/resources/META-INF/kmodule.xml
  src/main/resources/roleconfig/role_common.json
  src/main/resources/validationrules/core/specific-access-global.drl
  src/main/resources/validationrules/publiclaw/publiclaw-case-role-validation-judicial.drl
  src/main/resources/validationrules/publiclaw/publiclaw-case-role-validation-legal-ops.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CaseRolesDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/ChallengedAccessDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/SpecificAccessDroolsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-1603
