Repository hmcts/am-role-assignment-service, pull requests merged in 2024-12, with the labels that each got.

#2396 Set CPU, Memory and Storage limits
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:am, prd:am, aat/add-or-update, ithc/add-or-update, rel:am-role-assignment-service-pr-2396

#2408 DTSAM-633 Temporarily disable the PUBLICLAW case-role FTAs in RAS
  Jenkinsfile_CNP
  Jenkinsfile_nightly
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2408

#2371 COT-905 added in 3 new roles
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentIntegrationTest.java
  src/main/resources/roleconfig/role_civil.json
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/AllServicesOrgRoleTest.java
Labels: ns:am, prd:am, enable_keep_helm, aat/no-changes, prod/no-changes, rel:am-role-assignment-service-pr-2371

#2410 DTSAM-633 Fix Case Id for FTA S-241, S-242, S-243, S-244, S-245 and C…
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/functionalTest/resources/features/F-013/F-013-Base-Root.td.json
  src/functionalTest/resources/features/F-013/S-216.td.json
  src/functionalTest/resources/features/F-016/S-241.td.json
  src/functionalTest/resources/features/F-016/S-242.td.json
  src/functionalTest/resources/features/F-016/S-243.td.json
  src/functionalTest/resources/features/F-016/S-244.td.json
  src/functionalTest/resources/features/F-016/S-245.td.json
  src/functionalTest/resources/features/F-018/F-018-Base-Root.td.json
  src/functionalTest/resources/features/F-018/S-261.td.json
  src/functionalTest/resources/features/F-018/S-261_Delete_Case_Role.td.json
  src/functionalTest/resources/features/F-018/S-262.td.json
  src/functionalTest/resources/features/F-018/S-262_Delete_Case_Role.td.json
  src/functionalTest/resources/features/F-018/S-263.td.json
  src/functionalTest/resources/features/F-018/S-263_Delete_Case_Role.td.json
  src/functionalTest/resources/features/F-018/S-264.td.json
  src/functionalTest/resources/features/F-018/S-264_Delete_Case_Role.td.json
  src/functionalTest/resources/features/F-018/S-265.td.json
  src/functionalTest/resources/features/F-018/S-265_Delete_Case_Role.td.json
  src/functionalTest/resources/features/F-018/S-266.td.json
  src/functionalTest/resources/features/F-018/S-266_Delete_Case_Role.td.json
  src/functionalTest/resources/features/F-018/S-267.td.json
  src/functionalTest/resources/features/F-018/S-267_Delete_Case_Role.td.json
  src/functionalTest/resources/features/F-018/S-268.td.json
  src/functionalTest/resources/features/F-018/S-269.td.json
  src/functionalTest/resources/features/F-018/S-270.td.json
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2410
