Repository hmcts/am-role-assignment-service, pull requests merged in 2024-09, with the labels that each got.

#2321 DTSAM-345 remove disabled case role delete rules
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/DeleteRoleAssignmentProviderTest.java
  src/main/resources/validationrules/core/case-allocator-global.drl
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2321

#2331 DTSAM-516 Resize storage for RAS DB in AAT
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:am, prd:am, aat/no-changes, prod/no-changes, rel:am-role-assignment-service-pr-2331

#2329 DTSAM-506 add IBCA role config
  src/main/resources/roleconfig/role_sscs.json
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/AllServicesOrgRoleTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2329

#2339 Dtsam 531 iac system user case allocator org role
  src/main/resources/roleconfig/role_common.json
  src/main/resources/validationrules/core/organisational-role-mapping-common.drl
  src/main/resources/validationrules/iac/iac-system-user-validation.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/AllServicesOrgRoleTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/IacSystemRoleTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2339

#2345 DTSAM-543 PI Test Review
  Jenkinsfile_nightly
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2345

#2346 DTSAM-551 PI Test Upgrade 1.16.3 -> 1.17.0
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2346
