Repository hmcts/am-role-assignment-service, pull requests merged in 2024-07, with the labels that each got.

#2252 DTSAM-330 case role deletion common fix
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20240605_330__DTSAM-330_ALL_WA_SERVICES_CASE_ALLOCATOR_1_0_base_flag_addition.sql
  src/main/resources/validationrules/core/case-allocator-global.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CaseRolesDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/ConflictOfInterestTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/IacJudicialCaseRoleTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/IacStaffCaseRoleTest.java
Labels: ns:am, prd:am, enable_keep_helm, aat/no-changes, prod/no-changes, rel:am-role-assignment-service-pr-2252

#2272 DTSAM-372 Azure Container Registries - TESTCONTAINERS env vars added …
  Jenkinsfile_CNP
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2272

#2274 DTSAM-379 canIDeploy Index 0 out of bounds for length 0 Issue - comma…
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2274

#2277 DTSAM-385 Temp Disable CCD Case Validation in RAS FTAs - env.AZURE_CA…
  Jenkinsfile_CNP
  Jenkinsfile_nightly
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2277

#2279 Revert "DTSAM-385 Temp Disable CCD Case Validation in RAS FTAs - env.AZURE_CA…"
  Jenkinsfile_CNP
  Jenkinsfile_nightly
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2279

#2283 DTSAM-388 add new case roles for Private Law
  src/main/resources/roleconfig/role_common.json
  src/main/resources/validationrules/privatelaw/privatelaw-case-role-validation-legal-ops.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CaseRolesDroolsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2283

#2285 DTSAM-390: FTA: Adding new case roles for PRL
  src/functionalTest/resources/features/F-015/F-015.feature
  src/functionalTest/resources/features/F-015/S-228.td.json
  src/functionalTest/resources/features/F-015/S-228_DeleteDataForRoleAssignmentsForOrgRoles.td.json
  src/functionalTest/resources/features/F-015/S-228_Delete_Case_Role.td.json
  src/functionalTest/resources/features/F-015/S-228_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-015/S-229.td.json
  src/functionalTest/resources/features/F-015/S-229_DeleteDataForRoleAssignmentsForOrgRoles.td.json
  src/functionalTest/resources/features/F-015/S-229_Delete_Case_Role.td.json
  src/functionalTest/resources/features/F-015/S-229_Org_Role_Creation.td.json
Labels: ns:am, prd:am, enable_keep_helm, rel:am-role-assignment-service-pr-2285

#2290 DTSAM-366 Enable all_wa_services_case_allocator_1_0 flag
  src/main/resources/db/migration/V20240722_366__DTSAM-366_Enable_ALL_WA_SERVICES_CASE_ALLOCATOR_1_0_Prod.sql
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2290

#2296 DTSAM-423 Dependency Check v10 - plugin org.owasp.dependencycheck 9.1…
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2296

#2292 DTSAM-418 update feature toggle code to throw exception if status != 200
  src/functionalTest/java/uk/gov/hmcts/reform/roleassignment/befta/RasFeatureToggleService.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2292

#2298 DTSAM-435 Investigate issues with RAS Staging server on master pipeli…
  charts/am-role-assignment-service/values.aat.template.yaml
  charts/am-role-assignment-service/values.preview.template.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2298
