Repository hmcts/am-role-assignment-service, pull requests merged in 2024-06, with the labels that each got.

#2247 DTSAM-326 Additional ET case types for case roles
  src/main/java/uk/gov/hmcts/reform/roleassignment/feignclients/configuration/DataStoreApiFallback.java
  src/main/resources/roleconfig/role_common.json
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CaseRolesDroolsTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolBase.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2247

#2257 DTSAM-331 Enable sscs_case_allocator_1_0 RAS flag in PROD
  src/main/resources/db/migration/V20240611_331__DTSAM-331_Enable_SSCS_CASE_ALLOCATOR_1_0_Prod.sql
Labels: ns:am, prd:am, enable_keep_helm, rel:am-role-assignment-service-pr-2257

#2256 DTSAM-342: FTA for new ET case types
  src/functionalTest/resources/features/F-018/F-018.feature
  src/functionalTest/resources/features/F-018/S-269.td.json
  src/functionalTest/resources/features/F-018/S-269_DeleteDataForRoleAssignmentsForOrgRoles.td.json
  src/functionalTest/resources/features/F-018/S-269_Delete_Case_Role.td.json
  src/functionalTest/resources/features/F-018/S-269_Org_Role_Creation.td.json
  src/functionalTest/resources/features/F-018/S-270.td.json
  src/functionalTest/resources/features/F-018/S-270_DeleteDataForRoleAssignmentsForOrgRoles.td.json
  src/functionalTest/resources/features/F-018/S-270_Delete_Case_Role.td.json
  src/functionalTest/resources/features/F-018/S-270_Org_Role_Creation.td.json
Labels: ns:am, prd:am, enable_keep_helm, rel:am-role-assignment-service-pr-2256

#2262 DTSAM-350 Deprecation of properties-volume-spring-boot-starter - grad…
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2262
