Repository hmcts/am-role-assignment-service, pull requests merged in 2024-10, with the labels that each got.

#2340 DTSAM-521 add ST_CIC_WA `magistrate` org role
  src/main/resources/roleconfig/role_common.json
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/AllServicesOrgRoleTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2340

#2353 DTSAM-578 CVE-2024-9329 glassfish Suppression
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2353

#2359 DTSAM-574 FTA added scenario for v1 & 2 query req with includeLabels
  src/functionalTest/resources/features/F-006/F-006.feature
  src/functionalTest/resources/features/F-006/S-088.td.json
  src/functionalTest/resources/features/F-009/F-009.feature
  src/functionalTest/resources/features/F-009/S-185.td.json
  src/functionalTest/resources/features/F-009/S-185_CreationDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-009/S-185_DeleteDataForMultipleRoleAssignments.td.json
Labels: ns:am, prd:am, aat/no-changes, prod/no-changes, rel:am-role-assignment-service-pr-2359

#2361 DTSAM-583 Fix non-running integration tests
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentIntegrationTest.java
Labels: ns:am, prd:am, aat/no-changes, prod/no-changes, rel:am-role-assignment-service-pr-2361

#2355 DTSAM-574 add optional roleLabel in RAS query APIs response
  build.gradle
  src/functionalTest/resources/features/F-006/F-006.feature
  src/functionalTest/resources/features/F-006/S-088.td.json
  src/functionalTest/resources/features/F-009/F-009.feature
  src/functionalTest/resources/features/F-009/S-185.td.json
  src/functionalTest/resources/features/F-009/S-185_CreationDataForRoleAssignment.td.json
  src/functionalTest/resources/features/F-009/S-185_DeleteDataForMultipleRoleAssignments.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/QueryAssignmentIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentIntegrationTest.java
  src/integrationTest/resources/sql/insert_role_assignment.sql
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/Assignment.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestrator.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/QueryAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestratorTest.java
Labels: ns:am, prd:am, aat/no-changes, prod/no-changes, rel:am-role-assignment-service-pr-2355
