Repository hmcts/am-role-assignment-service, pull requests merged in 2024-01, with the labels that each got.

#2114 AM-3002 CVE-2023-5072 Fix json upgrade 20231013
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2114

#2109 DTSAM-75, DTSAM-76, DTSAM-77 : new case roles for Private Law
  src/main/resources/roleconfig/role_common.json
  src/main/resources/roleconfig/role_privatelaw.json
  src/main/resources/validationrules/privatelaw/privatelaw-case-role-validation-judicial.drl
  src/main/resources/validationrules/privatelaw/privatelaw-case-role-validation-legal-ops.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CaseRolesDroolsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2109

#2115 DTSAM-78 drool for IDAM Disposer create Case Role
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V20240108_78__DTSAM-78_DISPOSER_1_0_base_flag_addition.sql
  src/main/resources/validationrules/ccd/ccd-case-role-validation.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CCDCaseRolesTest.java
Labels: ns:am, prd:am, enable_keep_helm, rel:am-role-assignment-service-pr-2115

#2120 DTSAM-85 : Enable 'disposer_1_0' RAS flag in PROD
  src/main/resources/db/migration/V20240116_85__DTSAM-85_Enable_DISPOSER_1_0_Prod.sql
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2120

#2106 AM-3114 Remove IDAM Dependency from RAS - Integration test working st…
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/utils/WiremockFixtures.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/util/KeyGenerator.java
  src/integrationTest/resources/application-itest.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2106

#2101 AM-3109 help with SSCSCI-529 Preview HMC E2E testing
  src/main/resources/roleconfig/role_common.json
Labels: ns:am, prd:am, enable_keep_helm, rel:am-role-assignment-service-pr-2101

#2124 DTSAM-92 Add disposer-idam-user to the clientId filter to exclude it …
  src/main/java/uk/gov/hmcts/reform/roleassignment/util/JacksonUtils.java
  src/main/resources/validationrules/core/load-case-data.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CCDCaseRolesTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/DroolBase.java
Labels: ns:am, prd:am, enable_keep_helm, rel:am-role-assignment-service-pr-2124

#2126 DTSAM-91 CVE-2023-33202 bouncycastle Fix - removed bcpkix-jdk15on 1.7…
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2126

#2128 DTSAM-94 Review Health Checks with New Guidance
  src/main/resources/application.yaml
Labels: ns:am, prd:am, enable_keep_helm, rel:am-role-assignment-service-pr-2128

#2134 DTSAM-104 Chart-java Upgrade 5.0.4
  charts/am-role-assignment-service/Chart.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2134
