Repository hmcts/am-role-assignment-service, pull requests merged in 2025-04, with the labels that each got.

#2486 DTSAM-825 Update ubuntu image reference in github workflows
  .github/workflows/combine-prs.yml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2486

#2487 COT-958 Added new wlu-admin organisation role config and updated relevant test
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentIntegrationTest.java
  src/main/resources/roleconfig/role_civil.json
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/AllServicesOrgRoleTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2487

#2334 DTSAM-492 Decommission Launch Darkly
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  README.md
  charts/am-role-assignment-service/Chart.yaml
  charts/am-role-assignment-service/values.aat.template.yaml
  charts/am-role-assignment-service/values.preview.template.yaml
  charts/am-role-assignment-service/values.yaml
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/CreateRoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/DeleteRoleAssignmentProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/roleassignment/RoleAssignmentProviderTestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/roleassignment/befta/RasDefaultMultiSourceFeatureToggleService.java
  src/functionalTest/resources/features/F-000/F-000.feature
  src/functionalTest/resources/features/F-000/S-110.td.json
  src/functionalTest/resources/features/F-000/S-120.td.json
  src/functionalTest/resources/features/F-010/F-010.feature
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/config/SwaggerPublisher.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/DroolPassAssignmentCreateAndDeleteIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/QueryAssignmentIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentCreateAndDeleteIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/SwaggerRedirectControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/data/RequestEntityIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/drool/BaseDroolIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/DBFlagConfigurtion.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/EnvironmentConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/LDDummyClient.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/config/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/FeatureFlagController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/controller/endpoints/DeleteAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureConditionEvaluation.java
  src/main/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureToggleService.java
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/EvaluateLaunchDarklyFlag.java
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/FeatureFlagToggleEvaluator.java
  src/smokeTest/java/uk/gov/hmcts/reform/roleassignment/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/config/EnvironmentConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/controller/FeatureFlagControllerTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/common/ValidationModelServiceTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureConditionEvaluationTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/launchdarkly/FeatureToggleServiceTest.java
Labels: ns:am, prd:am, enable_keep_helm, rel:am-role-assignment-service-pr-2334

#2467 DTSAM-789 Retire LaunchDarkly chart values
  charts/am-role-assignment-service/Chart.yaml
  charts/am-role-assignment-service/values.preview.template.yaml
  charts/am-role-assignment-service/values.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2467
