Repository hmcts/am-role-assignment-service, pull requests merged in 2025-07, with the labels that each got.

#2527 DTSAM-976 Review CVE suppressions before SB3 + after DTSPO-23398
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2527

#2541 COT-1003 Add new WLU Team Leader role
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentIntegrationTest.java
  src/main/resources/roleconfig/role_civil.json
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/AllServicesOrgRoleTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2541

#2543 DTSAM-915 / CME-56 PATCH - Unit Test adjustments
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/queryroles/QueryRoleAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/security/IdamRoleServiceTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2543

#2551 DTSAM-1000 Barrister case roles for Private Law
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/controller/RoleAssignmentIntegrationTest.java
  src/main/resources/roleconfig/role_ccd.json
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CCDCaseRolesTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2551
