Repository hmcts/am-role-assignment-service, pull requests merged in 2025-02, with the labels that each got.

#2441 DTSAM-666 Case-Allocator Role Assignments for Civil System User
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/drool/BaseDroolIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/drool/CivilSystemRoleIntegrationTest.java
  src/integrationTest/resources/sql/insert_organisation_role_assignment_civil.sql
  src/main/resources/roleconfig/role_common.json
  src/main/resources/validationrules/civil/civil-system-user-validation.drl
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/CivilSystemRoleTest.java
Labels: ns:am, prd:am, enable_keep_helm, rel:am-role-assignment-service-pr-2441

#2450 Revert "CME-121 Database monitoring and alerting on AM repositories - Unsync …"
  Jenkinsfile_CNP
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2450

#2458 COT-941 patch to PR 2457: Additional Specific Access unit tests
  src/test/java/uk/gov/hmcts/reform/roleassignment/domain/service/drools/SpecificAccessDroolsTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-service-pr-2458
